[2018-07-05 10:30] #290 closed

[2018-07-05 19:30] norhh opened #314 "Stack Underflow Exception is thrown for some contracts."
**Describe the bug**
Stack Underflow Exception is thrown for some contracts.

**To Reproduce**
[code]

**Expected behavior**
It should execute properly

**Desktop (please complete the following information):**
 - Ubuntu
 - 17.10

[2018-07-06 03:43] norhh commented on #314
This can also be a duplicate of #309

[2018-07-06 10:17] JoranHonig commented on #314
The stack underflow exception is new, I added this because we don't want to fail silently in case this happens (previous behaviour). This is probably caused by a bug in one of the instruction implementations

[2018-07-06 10:40] norhh commented on #314
Oops! i meant this exception should not be reached

[2018-07-06 15:23] norhh opened #315 "mythril throws an attribute error for some contracts"
**Describe the bug**
mythril throws an attribute error for some contracts

**To Reproduce**
[code]

**Expected behavior**
Execution should be proper,

**Desktop (please complete the following information):**
 - Ubuntu
 - 17.10

**Reason**
for some reason compiler is executing EXTCODESIZE(0x0) where 0x0 is not a contract.

[2018-07-06 17:25] norhh opened #318 "shifting to rlp-1.0.1"
ethereum-2.3.2 depends on rlp>=1.0.1 and we use rlp-0.6.0(some of the things in here are removed in 1.0.1)
So we should shift to rlp-1.0.1 in the longterm future.

[2018-07-06 18:03] suhabe opened #319 "ImportError: cannot import name 'ALL_BYTES'"
My mythril installation is crashing due to this import error on Ubuntu 16.04, Python 3.5.2:

[code]

[2018-07-06 18:23] norhh commented on #319
hi @suhabe , can you try doing pip install ethereum==2.3.1 and then retrying it again

[2018-07-06 18:36] suhabe commented on #319
Looks like that fixed it.

[2018-07-07 07:06] norhh opened #320 "Z3 parser error exception is thrown"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
[code]

**Expected behavior**
The code should be executed properly

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Version: 17.10

[2018-07-07 12:52] norhh opened #321 "Attribute Error is being raised for some contracts"
**Describe the bug**
Attribute error is being thrown for some some contracts.

**To Reproduce**
[code]
**Expected behavior**
The contract should execute properly. Looks like my luck is bad(in a way good as bugs are being found) as only i am encountering a lot of issues.

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Version: 17.10

[2018-07-07 13:00] norhh commented on #321
Probably because this line(and few others) is sending MachineState as node as the third argument as node for GlobalState where node should have uid but machineState doesn't have one.
[code]

[2018-07-07 20:44] JoranHonig commented on #321
This problem has been fixed in the pr. However there are still some problems, but those should maybe be moved to a new issue

[2018-07-07 20:49] JoranHonig commented on #320
@norhh This is caused by the way we currently do native contracts. If the sha256 function encounters a TypeError, it will return sha256_data. Which will get put on the stack as ['s', 'h' ....].
Instead of putting concrete values in memory just add unconstrained symbols. I think that is a good approach in this case

[2018-07-08 09:07] #315 closed

[2018-07-08 13:03] JoranHonig commented on #294
Should be fixed with #308

[2018-07-08 13:03] #294 closed

[2018-07-08 13:04] #319 closed

[2018-07-08 13:18] #321 closed

[2018-07-08 13:21] norhh opened #325 "IndexError is thrown for some contracts"
**Describe the bug**
Index Error is being thrown

**To Reproduce**
[code]

**Expected behavior**
Contract should get executed properly

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Version :17.10

[2018-07-09 09:20] b-mueller opened #327 "ImportError: cannot import name 'ALL_BYTES'"
**Describe the bug**
After updating packages with `pip install -U`, the myth command line tool exits with an error.

[code]

Most likely there's an incompatibility with the newest Ethereum package.

**To Reproduce**

Update to Mythril 0.18.6 and Ethereum 2.3.2.

**Desktop (please complete the following information):**
 - OS: Mac OS High Sierra

**Additional context**

Installed packages:

[code]

[2018-07-10 14:12] JoranHonig commented on #305
@TonyZhouCH If I analyze the solidity file locally I don't have this problem, even with lowering the timeout by a lot.
Could it be that you were running an old version of mythril?

[2018-07-10 14:51] shashank-srikant opened #329 "Mythril reports different outputs for the same input"
**Describe the bug**
Mythril produces two different outputs on the same input. It seems to be some caching-effect coming into play. On running it several times over, the "correct" output gets printed.

**To Reproduce**
I run the following command:
`myth -xo json file_path.sol`

I'm running the following source code -
[https://etherscan.io/address/0x00000b233566fcc3825f94d68d4fc410f8cb2300#code](ht

[2018-07-10 14:54] JoranHonig opened #330 "Contract names don't get recognized"

[2018-07-10 14:54] JoranHonig commented on #330
Issues now contain contract: unknown vs the actual contract name

[2018-07-10 15:02] shashank-srikant commented on #329
Was looking up other issues - seems to be related to @305
Will try tweaking Z3's timeout.

In any case, if Z3 is indeed timing out on the default time provided, the current output shown
`{"error": null, "issues": [], "success": true}`
 is just not right! It should have an appropriate message letting the user know that Z3 has timed out.

[2018-07-10 15:40] JoranHonig commented on #329
@shashank-srikant thanks for the report.

First of all, could you try (that should fix your problem):
[code]

I think this is actually caused by our implementation that doesn't (internally) always order contracts in the same way. If you don't specify the contract name, then it will pick the last one it can find (which is not always the same contract) so you'll get different results.

@b-mueller Wh

[2018-07-10 15:45] shashank-srikant commented on #329
Thanks.

What then is the current way to analyze all the contracts in a script? Without knowing the contract names a priori? Is there anything convenient? Or should i get the names off of the script's AST and then supply those one by one to `myth`?

Regarding Z3 timeouts -- yup. i'm perfectly fine with timing out Z3. There's no other way around it. I was under the assumption that this output `{"er

[2018-07-10 15:49] JoranHonig commented on #329
@shashank-srikant Like I said, I think the expected behavior should be to analyze all contracts (or at least give a message to the user with the options).

Because I fully understand how this might be confusing, and it might give people the assumption that everything is fine while its not. I'm keeping the issue open until we have decided what good behaviour would be in this case (which is also why

[2018-07-10 15:51] b-mueller commented on #329
I agree, analyzing all contracts by default makes more sense.

[2018-07-10 15:52] shashank-srikant commented on #329
yup; sure. thank you.

but while we wait for others' inputs, i wanted to make progress with my analysis -- and hence wanted to know what i could do in the existing framework to push in names of all the contracts. any pointers? thanks again.

[2018-07-10 15:52] JoranHonig commented on #305
So this turned out to be the same issue as in #329, closing this issue so all discussion can happen there.

To be short, use the following:
[code]

[2018-07-10 15:52] #305 closed

[2018-07-10 15:54] b-mueller commented on #329
Currently I'm afraid that's the best option.

[2018-07-10 15:55] JoranHonig commented on #329
For the contract you had its:
[code]

I think I can get it fixed rather quickly

[2018-07-10 17:44] shashank-srikant commented on #329
also, would be great if the output had a field which reflected the name of the contract which was analyzed. that'll be super useful as well, i'm guessing.

in case someone encounters a stray output blurb, they'll be able to discern which contract it corresponds to.

something like this -
`{"error": null, "issues": [], "success": true, "contract_name":file_path.sol:NRM}`

currently, the `file name`

[2018-07-11 01:21] XertroV commented on #327
Yup; note that you've got ethereum==2.3.2 installed to, but current requirements.txt specifies 2.3.1. I've manually `pip3 install ethereum==2.3.1` on my machine (was getting same error as you above before), and now getting

[code]

So yeah definitely seems to be an issue with `rlp` version.

[2018-07-11 09:23] #330 closed

[2018-07-11 09:32] #256 closed

[2018-07-11 09:33] JoranHonig commented on #303
This issue can be closed now right? Due to #310

[2018-07-11 16:48] #318 closed

[2018-07-11 17:06] shashank-srikant opened #337 "Mythril crashes when an Interface contract is provided"
**Describe the bug**
On using the `-xo json` option on a solidity source, Mythril crashes when an interface contract is provided, which contains only function definitions.

**To Reproduce**
`myth -xo json file.sol` where `file.sol` can contain an interface such as the following -

[code]
**Expected behavior**
Not sure? It shouldn't at least crash the tool. It should exit saying `No issues` perhaps

[2018-07-11 17:55] JoranHonig commented on #329
@shashank-srikant That is now in master ^^

[2018-07-11 19:19] #264 closed

[2018-07-11 19:20] #303 closed

[2018-07-12 18:20] norhh opened #340 "Regarding the default connection when using -l"
This is regarding the 'connecting when using -l and not mentioning any node to connect' issue as was discussed on gitter.

Two options as mentioned on gitter are:-
1) Warn users that 'using -l option without mentioning anything to connect will not use the dynamic loader'.
2) Have the configuration set on config.ini file defaulting to INFURA.

[2018-07-14 19:36] chronaeon opened #341 "Mythril hangs when firing the lasers at this contract."
[code]

**MemoryArrayBuilding.sol file contents:**
[code]

To reproduce this bug [copy the contract](https://raw.githubusercontent.com/chronaeon/solidity-patterns/master/MemoryArrayBuilding/MemoryArrayBuilding.sol) to your pc and `myth -x` it like it's hawt.

[2018-07-14 19:44] chronaeon commented on #225
Definitely! Didn't see this message until now. Roughly how many vulnerabilities does Mythril identify currently, so I can get a size of the project?

[2018-07-14 20:08] norhh commented on #341
currently i am not sure why it's taking lot of time, can you try running it with a --max-depth of 17(or anything less than that) in that case it seems to be giving results in a reasonable amount of time.

[2018-07-14 20:42] JoranHonig commented on #225
@chronaeon Awesome!. I can setup the skeleton up tomorrow
One doc page I already built is the one for the integer overflow: https://github.com/ConsenSys/mythril/wiki/Integer-Overflow

One thing we should probably watch out for is that we don't do double work, as things like https://consensys.github.io/smart-contract-best-practices/known_attacks already contain lots of valuable information. The mai

[2018-07-15 02:30] chronaeon commented on #225
Sounds good. Small question about the notation in your first article on Integer Overflow.

Does `2^256` represent an exponent? Sorry if this is a stupid question. That's 77 places in decimal, which seems too big, so I want to make sure I'm not confused about what the `^` means in this context. Still learning all this stuff :)

[2018-07-15 05:29] #320 closed

[2018-07-15 06:30] norhh commented on #225
@chronaeon  yes ^ means an exponent

[2018-07-15 10:00] b-mueller commented on #340
+1 for option 2 :)

[2018-07-15 10:07] b-mueller commented on #309
Same for this contracts:

[code]

[2018-07-15 18:01] chronaeon commented on #225
Thanks !

[2018-07-16 05:13] norhh commented on #220
This should be a TC challenge right?( we can also merge this with #207  for the challenge as it is kind of trivial)

[2018-07-16 09:50] #186 closed

[2018-07-16 16:29] JoranHonig opened #346 "Error in delegatecall"
## Description
Running analysis on the followin contract results in an error:
[code]

Two things need to be done to fix this:
 - Index error except on mload
 - delegate call fix

[2018-07-16 16:30] JoranHonig commented on #346
See also the discussion in #344

[2018-07-16 17:48] norhh commented on #346
Probably because delegate call returns a new state with pc = 0, then the decorator does a pc++ after new state is returned to it.

[2018-07-16 18:50] norhh commented on #346
also it seems that would result an assertion error in taintrunner (but unrelated to #309 ), it seems there is a misalignment of Calls with the TaintRunner(record stack length=14 and state stack length =0)

[2018-07-16 19:19] JoranHonig commented on #346
@norhh This is not actually caused by the delegate call, but by the taintrunner that doesn't handle calls correctly, which leads to mismatched memory states.
You are right about the pc=0, I already had that fixed locally and this is implemented in #345

[2018-07-17 09:44] #337 closed

[2018-07-17 09:48] #245 closed

[2018-07-17 09:48] #329 closed

[2018-07-17 11:39] JoranHonig commented on #226
This implementation also requires the taint analysis to be changed

[2018-07-18 05:10] KennyFood opened #349 "contribute to the repository"
# Detection issue:
During learning Mythril, although there are lots of comments, I found it‘s laborious to totally understand the source code and symbolic analysis mechanism.

## Description:
I documented some details when I learned the source code and after learning I wrote a document about how Mythril and Laser works and what the symbolic analysis in Mythril is. I just want to contribute this do

[2018-07-18 10:05] rocky commented on #240
This links to a wiki page. Should  that be a link to some code?

One thing that scares simple-minded me when someone refers to a  "benchmark" is that this code is complex. For explanation purposes though I think I want "simple".

We link to ethereum best practices which is good. and those examples are simple.

In some cases there is a full contract as in the case of  https://consensys.github.io/sm

[2018-07-18 10:09] b-mueller commented on #240
Some info on @suhabe's benchmark suite is here:

https://github.com/ConsenSys/evm-analyzer-benchmark-suite
https://consensys.net/diligence/evm-analyzer-benchmark-suite/

The test cases are very simple (you can click on the links in the "tool evaluation" table to see them).

We still need more though and Suhabe has been preoccupied with audits most of the time, maybe you can jump in on this as well

[2018-07-18 10:32] rocky commented on #240
Absolutely! (In fact, I've been doing this or something like this anyway for myself).

[2018-07-18 11:53] JoranHonig commented on #349
@KennyFood awesome that you'd like to contribute. Maybe we can add this to our wiki.

Could you do a pull request with the document vs sending it via email? That would make discussion and review a lot more easy

[2018-07-18 11:56] #309 closed

[2018-07-18 11:56] #314 closed

[2018-07-18 11:56] #346 closed

[2018-07-18 12:39] KennyFood commented on #349
@JoranHonig I can send this document to you directly via email however I didn't find your email address in personal information.

I'm glad to share this with you and others. After learning Mythril, I summarized my understanding of source code execution including concolic execution. Although this document is not particularly refined, I think it might slightly help others who want in-depth understan

[2018-07-18 14:52] norhh commented on #349
@KennyFood that would be quite helpful for the people who want to understand mythril. You can put a PR with the document or you can  put the content in google docs and share it in this thread with permissions such that we can drop comments on it, we can have easier discussions in this way over the email.

[2018-07-18 15:08] rocky commented on #277
Here is a related thought regarding this. With interaction with static analysis we can know this is an enum and adjust severity. The ethereum best practices guide says that smaller datatypes like int8's are more vulnerable than int256's. But on the other hand, if we can do some static analysis and determine this is boilerplate code, that might change things drastically. Dunno yet.

And I am not su

[2018-07-19 03:07] rocky commented on #225
I made some changes to [Integer Overflow](https://github.com/ConsenSys/mythril/wiki/Integer-Overflow). Note that the Wiki is in git, and can be checkout out in git separately; so these changes can easily be reverted or you can see changes in detail. Although the git commit messages have some of the reason for the changes, I'll explain below.

In the particular situation we can list the EVM instruc

[2018-07-19 03:39] KennyFood commented on #349
@norhh @JoranHonig I create a new public repository and upload this document. This is URL: [https://github.com/KennyFood/Mythril-Mechanism-Analysis.git](url). :blush::blush:

I think we can have some discussion since I don't know if this document is helpful. 😛

[2018-07-19 04:13] rocky commented on #349
@KennyFood In markdown put the link name first in square brackets and then the parenthesis . Like this [Mythril-Mechanism-Analysis](https://github.com/KennyFood/Mythril-Mechanism-Analysis.git). You had the link name first.

[2018-07-19 06:30] b-mueller commented on #349
@KennyFood I think a Medium article would be the right format for this. Maybe with the title "Mythril Internals: How Symbolic Execution Works" or something similar. We'll be happy to share it on Gitter
/ Telegram / Twitter.

[2018-07-19 07:07] norhh commented on #349
@b-mueller Also it would be good if we can place it in 'for contributors section' in wiki. And mention it in ReadMe, as those two are the main sections which new contributors see first.

[2018-07-19 07:41] KennyFood commented on #349
@b-mueller thanks for your reply.

I have changed the title and If there is something wrong with this document or whatever else, just let me know.  Thanks 😄

[2018-07-19 10:06] JoranHonig commented on #349
I've had a quick look and you have put in great effort! :+1: One thing to note is that there is a lot going on around implementation for laser.
One example is the restructuring of functionality in separate modules.
Another is the fact that svm.py isn't using a giant loop anymore but we're now using a worklist and search strategies.
Even more awesome is the multi-transactional analysis that we're n

[2018-07-19 11:29] rocky opened #350 "Consider EVM instruction EXP in Integer Overflow"
**Describe the bug**
Mythril doesn't detect overflow by exponentiation.

**To Reproduce**

Create solidity contract:

[code]

compile it, and then run `myth` on it.

**Expected behavior**

[code]

**Desktop:**
 - OS: Ubuntu
 - Version Bionic

[2018-07-19 11:59] rocky opened #351 "Add a comand-line option, e.g. `--version|-V` to show the Mythril version installed?"
**Describe the bug**
Mythril is improving all the time, so it useful to know what version you have installed

I propose we add a command-line option like `--version` and/or `-V` and show the version number when help is shown.

[2018-07-19 12:21] rocky opened #352 "When Pypy 3.6+ comes out, consider using in the mythril docker container?"
Pypy works on 3.5 and so does Mythril

Perhaps we would get speed ups in the mythril docker container if we used Pypy rather than CPython?

[2018-07-19 12:54] JoranHonig opened #353 "Move coverage calculation to account"
Coverage calculation is now done in the sym_exec function, this isn't the best place while Account is perfect

[2018-07-19 13:37] b-mueller commented on #351
I've already looked into options to implement -v before but didn't find any good way to do it.

[2018-07-19 13:39] rocky commented on #351
Perhaps I'll suggest something then. I think I've run into this problem before.

[2018-07-19 15:01] birdofpreyru commented on #352
Somebody should test whether Mythril is compatible with PyPy. If yes, then we should do it.

[2018-07-19 15:45] rocky commented on #352
Sigh. It looks like this can't be easily done right now. The latest stable version of PyPy is 3.5 and mythril needs 3.6. Also [pysha3 is broken for PyPy 3.5](https://bitbucket.org/pypy/pypy/issues/2687/pypy3-is-missing-pystrhexh-breaking-pysha3).

So let's revisit if/when a newer version of Pypy comes out and when pysha3 is fixed for Pypy.

@birdofpreyru  @b-mueller  In a way I'd like this to revi

[2018-07-19 16:57] rocky opened #356 "Wrong file name listed for a contract in a truffle project"
**Describe the bug**
On an error (IntegerOverflow), I am seeing the wrong filename, the filename of the truffle project JSON rather than filename of the contract.

**To Reproduce**
Steps to reproduce the behavior:

Create a truffle project

[code]
create IntegerOverflow.sol:

[code]
Run:

[code]

**Expected output***:

[code]

Note that using JSON output `-o json` doesn't change the wrong data.

*

[2018-07-19 17:07] norhh commented on #356
mythril runs on build directory for truffle projects, so it just takes the file name from there which is json

[2018-07-19 17:10] rocky commented on #356
Yes, it was coincidence here (but probably often done) that I used the same for the truffle project and for the single file name under contracts.

[2018-07-20 13:59] JoranHonig commented on #341
It seems like this piece of code results in a lot of time spent in the integer module. This might improve a bit with the callback refactor #226

[2018-07-22 12:06] chronaeon opened #360 "Integrate ETHQL"
Very powerful GraphQL implementation. Highly suggest. It can fetch any onchain data. Play around with it some: https://goo.gl/QktME1

[2018-07-22 13:04] #340 closed

[2018-07-22 13:23] norhh opened #362 "Sonar fixes related to cognitive complexity"
## Description:
 Reducing the Cognitive complexity in some functions in the analysis modules. Also the max recommended complexity is 15.
list in analysis module.

| Module | Functions | Complexity |
| --- | --- | --- |
|dependence_on_predictable_vars|execute|68|
|ether_send|execute|52|
|external_calls|search_children|20|
|external_calls|execute|53|
|check_integer_underflow|execute|21|
|suicide|exe

[2018-07-22 14:55] rocky commented on #351
Fixed in a6443dc

[2018-07-22 14:55] #351 closed

[2018-07-22 15:26] norhh opened #363 "Modify html templates based on sonar cloud's results"
## Description:
Add a <!DOCTYPE> declaration and a title tag for templates:- callgraph.html and also the htmls in the statics folder and the tests.

[2018-07-22 15:38] norhh opened #364 "remove capital letters in local variable/class variable names"
## Description:
remove capital letters in local variable/class variable names in:-
- analysis.modules.external_calls
- analysis.modules.unchecked_retval
- ether.asm
- ether.evm
- leveldb.client
- leveldb.eth_db
- leveldb.state
- mythril.py
- rpc.base_client
- support.truffle
- tests.ethcontract_test

[2018-07-23 01:16] #360 closed

[2018-07-23 06:23] FFengIll opened #367 "Can not detect Bec.sol int overflow"
**Describe the bug**
Try `./myth -x Bec.sol`.
But no excepted report given, the only thing is the bellow.
I am not sure if I missed some options, can anyone help?

[code]

[2018-07-23 07:18] b-mueller commented on #367
Hi @FFengIll, thanks for your report.

Can you please provide the version of Mythril & other packages:

[code]

[2018-07-23 07:21] b-mueller commented on #367
For everyone's info, on my system mythril 0.18.9 fails to detect the overflow as well:

[code]

[2018-07-23 07:28] b-mueller opened #369 "Function name: **ambiguous** t"
**Describe the bug**
Function names fails to resolve correctly on some occasions.

**To Reproduce**
When running mythril on BECToken, all function names are shown as "**ambiguous** t":

[code]
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
The actual function name should be shown.

In this case I think the problem might be that `add` is an internal f

[2018-07-23 07:31] JoranHonig commented on #367
It seems to be a problem with multiplication overflows:
[code]

This sample also doesn't get reported

[2018-07-23 07:49] b-mueller commented on #367
It seems we're not checking for MUL overflows in our tests either, let's add a test while fixing this.

[2018-07-23 07:49] FFengIll commented on #367
@b-mueller I have done the check (see the code bellow).
So this might not a bug of mythril but a problem in static analysis on single function (including symbolic exe).
As you see, the `pause` work as a lock, so any call will fail until `unpause`.
Then we know it is a problem comes from multi-function interaction / analysis.

[code]

[2018-07-23 07:52] FFengIll commented on #367
I am not sure if there missed a MUL check, but multi-function analysis must be a big problem to solve.
And we are thinking for a solution too.

[2018-07-23 07:52] b-mueller commented on #367
Hmm, we don't do multi-transactional analysis yet (it's being implemented in #355) so it shouldn't matter.

[2018-07-23 07:54] b-mueller commented on #367
This will be a great test for multi-transactional analysis. I assume that we'd still be able to detect if the contract is initially paused, as it would be relatively trivial to reach the overflow (1. call unpause(), 2. trigger overflow).

[2018-07-23 08:08] FFengIll commented on #367
For contract, some solutions may work (since small scale of code).
I am trying some demo in some other situations (sorry for not evm  (⊙ˍ⊙)), if some of them may work here too, I will share later.

[2018-07-23 08:54] #306 closed

[2018-07-23 08:56] FFengIll opened #370 "Follow PC with address in the state"
**Describe the bug**
PC and Address `not easy` to mapping. (Feature needed)

While we use mythril, we have `pc` in the state as instruction index, and then we can get the instruction by a list using pc.
Then we have ins with `address`, but unfortunately, we do never have a convenience way to map `address` with `pc` except debug.

**To Reproduce**
Maybe we can both keep pc and address in state.
[co

[2018-07-23 08:58] rocky commented on #370
For what it is worth, as a longer-term project I have been working on mapping on going from the instruction index to the corresponding source and the corresponding abstract-syntax tree. Would this help?

[2018-07-23 09:02] JoranHonig commented on #367
The problem here is not multi transactional analysis, as laser now just assumes that paused is unconstrained vs false. So that should not matter.
Something is going wrong with that part of the code as changing the modifier to require(true) will solve the problem:
[code]

[2018-07-23 09:02] FFengIll commented on #370
@rocky good to know it!
Also follow the address in state may help more.
The mis-mapping of them may make some analysis implement more hard.

[2018-07-23 09:17] FFengIll commented on #367
@JoranHonig I agree with you.
But pls think twice for the solution -- as you say, it is always true in the modifier.
So we get three items:
* should process multi method now or future?
 (like `pause()` `unpause()` or some more other cases）
* should mark more symbol?
(a user-define value like `paused`) ( and could it be general? )
* could myth handle this one?
( `function batchTransfer(address[] _r

[2018-07-23 10:32] rocky commented on #370
Hmm - rereading this, I don't see how anything I've been looking at is relevant.

[2018-07-23 10:43] FFengIll commented on #226
Some extra suggestion: (for I am doing some work like it)
Makes stack element as a individual class like Slot/Element or something.
The possible benefits are:
* python `magic` to override some operators, e.g. __add__, __lt___ and so on
[code]
* python `property` to insulate solver and some others, e.g. (main)
[code]
* make it possible to use mythril but work for another vm / bytecode (minor)
* may

[2018-07-23 10:57] FFengIll commented on #370
@rocky if the white-box content (source code / AST) can mapping to the black-box content (bytecode), of course it help.
I just wish to have a possible to mapping PC and Addr -- these 2 works maybe completed together.
(Of course, it should be fully considered)

[2018-07-23 11:41] rocky commented on #350
Should also include XADD and XSUB. They are more recent opcodes, but do they get generated by Solidity or some other compiler?

[2018-07-23 13:58] JoranHonig commented on #226
After a lot of triaging I built the following example code that has the same problem:
[code]

The multiply instruction and assert don't seem to be reached wen using add vs +=

[2018-07-23 14:18] b-mueller opened #371 "Pip installation error on Ubuntu"
**Describe the bug**
The upgrade to mythril 0.18.10 fails on Ubuntu with the following error:

[code]

Same error when running `setup.py` manually:

[code]

The file mentioned in the error message exists & is readable though:

[code]

On my Mac, it worked without issues.

@rocky, this might have something to do with the latest changes in #351?

**Desktop (please complete the following information)

[2018-07-23 15:22] rocky commented on #371
A quick workaround until I have time fully understand and fix is
[code]

And also curious is that I use Ubuntu and recently pullled mythril from master and that worked. Whatever. Will track this down and add a test which I guess I should have done initially.

[2018-07-23 17:39] JoranHonig commented on #367
UpdateL I found that the following contract had a similar problem:
[code]

In this case I could solve the issue by increasing the solver timeout and max-depth.

[2018-07-23 18:06] JoranHonig commented on #367
Update:
[code]
Minimal contract that cannot be solved with increased max-depth and solve timeout

[2018-07-23 21:34] rocky commented on #371
This worked when I just tried it on Ubuntu bionic:

[code]
Will investigate further though...

[2018-07-23 22:07] rocky commented on #371
Ok. I see what's up. I bet you ran this on Python version 3.5.x (or more precisely < Python 3.6) where `open()` doesn't accept a Path type.

One simple fix is to change:

[code]
to:
[code]

but perhaps this error has some blessings in disguise. (Or at least I hope you take it that way :-) )

Previously when I was checking to see if this worked for Pypy, I recall reading that Mythril needs 3.6 or l

[2018-07-24 01:42] johnbender commented on #371
@rocky

Your post is correct from what I can tell. 0.18.9 installs fine with the default ubuntu install of 3.5.2. I installed without a version specification two days ago and ran into this issue while installing today today.

Thanks for posting @b-mueller.

[2018-07-24 05:27] FFengIll opened #373 "Decoupling the Instruction usage and merge all info into Instruction itself."
**Describe the bug**

**It is only a suggestion for you while I see the refactor is in-process.**

* Now only opcode in Instruction, but in analysis, we need more info (in fact).
[code]
[code]
* in disasm, instruction info work as a dict, like
[code]
so the instruction must follow some info though the address may not be right.

**To Reproduce**
search the code to see more.

**Expected behavior**
m

[2018-07-24 06:21] b-mueller commented on #371
We never clearly defined this, but I think it makes sense to support both 3.5 and 3.6 to make things easy for Ubuntu users? If we only need the `str` fix to do it.

[2018-07-24 07:12] FFengIll commented on #373
@b-mueller I am not sure the address can keep ( since I only use it in local mode and I read little in the loader ).
Furthermore, as a transition period, it won't miss any possible failure and will keep all callers except the first args. (keep the change min)
Maybe a extra remove of the `dynamic_loader` in the future.

[2018-07-24 10:31] #373 closed

[2018-07-24 10:32] #370 closed

[2018-07-24 10:41] JoranHonig commented on #373
@FFengIll I see you closed the issue, you agree with my points? Otherwise I'm open for other arguments, in any case I/we appreciate the input of this issue :+1:

[2018-07-24 11:03] FFengIll commented on #373
@JoranHonig Somehow, it is not means a full agree, but understand the design of current arch.
Though I implement in another schema, I agree with the design for mythril's requirements.

Thanks for you explain.

[2018-07-24 14:18] johnbender commented on #371
@rocky

No worries! I ran the following without issue:

[code]

[2018-07-24 15:50] SunBeomSo opened #376 "Incorrect reports of error locations?"
**Describe the bug**
Mythril seems to incorrectly report locations of errors (e.g., Mythril reports comment lines have integer overflow vulnerabilities).

**To Reproduce**
My command was:
```myth -x file.sol```
where ```file.sol``` is the source code in:
https://etherscan.io/address/0xb75a5e36cc668bc8fe468e8f272cd4a0fd0fd773#code

The produced report is the following:
[code]

However, in line 246,

[2018-07-24 16:44] norhh commented on #376
Hi @SunBeomSo, thanks for the report. It's actually funny that comments are being said reported as integer overflow.Probably the source code mapping is getting messed up with the comments in a different language.By removing the comments it seems to give proper mapping but it doesn't seem to detect
[code]
as failure as we are yet to detect exponentiation #350  .

[2018-07-24 17:50] stuardo3191 commented on #371
this is what i got on my mac when i tried to install it

-I/Library/Frameworks/Python.framework/Versions/3.7/include/python3.7m -c scrypt-1.2.1/libcperciva/crypto/crypto_aes.c -o build/temp.macosx-10.9-x86_64-3.7/scrypt-1.2.1/libcperciva/crypto/crypto_aes.o
    scrypt-1.2.1/libcperciva/crypto/crypto_aes.c:6:10: fatal error: 'openssl/aes.h' file not found
    #include <openssl/aes.h>
             ^

[2018-07-24 18:05] norhh commented on #371
hi @stuardo3191 , is the problem with this(v 0.18.10) version ?(did you successfully install mythril before?)

[2018-07-24 20:15] stuardo3191 commented on #371
not yet but I'm going to right now

[2018-07-24 20:28] shashank-srikant opened #377 "Function names don't show up correctly."
**Describe the bug**
The error report which Mythril prints doesn't always show the name of the function the issue is found in correctly.

**To Reproduce**
For instance, for the contract `Sale` in the source -
https://etherscan.io/address/0xf6da07a8ffb5683314715d8c7a1a5c952b4e74ca#code

`mythril -xo json filename` produces the following report -
[code]

**Expected behavior**
In each issue, the func

[2018-07-24 20:31] shashank-srikant commented on #377
Was skimming through other issues raised. Seems similar to #369.

[2018-07-24 20:47] stuardo3191 commented on #371
okay so i tried it  om my mac   including the older versions and non of them were successfully installed

[2018-07-25 01:23] SunBeomSo commented on #376
Hi @norhh, thanks for the response. I hope the bug will be fixed soon.

[2018-07-25 06:29] norhh commented on #371
can you try doing ```brew install openssl``` or something like that which installs openssl and then retry installing it?

[2018-07-25 12:50] rocky commented on #377
An idea to consider is that we might be able to verify and match up based on a diff of the bytecode string

[2018-07-25 15:14] b-mueller commented on #376
We rely on the source mappings returned by `solc` which are not always correct, so we might not be able to fix this on our side. Mythril-CLI is a primarily bytecode analyzer with Solidity support tacked on. We're currently planning a separate, developer-centric tool for that handles source code mappings better.

[2018-07-26 09:18] norhh commented on #376
It looks like solc gives Byte mappings and we are considering string mappings so in case of UTF characters we will have a misalignment.This can hopefully be corrected from our end.

[2018-07-26 10:39] #356 closed

[2018-07-27 07:50] norhh commented on #377
It seems the _function_<number> is being shown only for the data outside any function and inside the contract.

[2018-07-28 10:42] b-mueller commented on #349
@KennyFood I'm closing this issue for now. Please convert you content to a Medium post and let us know the link, and we'll create a new Wiki page to link to your article (and other Mythril-related articles).

[2018-07-28 10:43] #349 closed

[2018-07-28 17:42] #376 closed

[2018-07-29 01:35] b-mueller commented on #369
Fixed.

[2018-07-29 01:35] #369 closed

[2018-07-29 13:07] rocky opened #387 "function name "fallback" missing from error report of a fallback function"
## Description

It appears Mythril used to report "fallback" as the function name in a [fallback function](https://www.bitdegree.org/learn/solidity-fallback-functions/)

## How to Reproduce

[code]

## Expected behavior

The message:

[code]

used to be:

[code]

But even better would be a message like:

[code]

## Environment

- Mythril version: Mythril version v0.18.10
- Solidity compiler and ve

[2018-07-30 08:13] #367 closed

[2018-07-30 09:55] audxo14 opened #389 "Incorrect Bug Reports"
## Description
Mythril reports the wrong locations of the alarms regardless of its type.
(similar to the previous bug report - https://github.com/ConsenSys/mythril/issues/376).
Before I actually run Mythril, I deleted all the comments first and tested the file.

## How to Reproduce
I used the docker environment as I failed to install Mythril on my computer.
The command:
sudo docker run $(pwd):/tmp

[2018-07-31 12:34] JoranHonig opened #393 "Call depth measurement"
## Description

Currently the callstack is maintained as a variable in the global state, however in the yellowpaper the environment also measures the current callstack depth, we should implement a measure that checks for max call depth of 1024

[2018-07-31 14:25] #364 closed

[2018-07-31 15:07] shashank-srikant opened #394 "Issue #337 not fully resolved"
## Description

Had raised a bug earlier regarding Mythril not processing Interfaces. Issue referenced in #337
It was fixed in #347
However, the fix seems to be incorrect, since now, it is unable to process contracts with valid methods.

## How to Reproduce
Solidity script: https://etherscan.io/address/0x6342eabec28aec4902432d852dcd08d4f6df96ab#code
Both commands -
`myth -xo json file_name:Mintabl

[2018-07-31 15:20] shashank-srikant opened #395 "Issues detected in parent contracts"
## Description

Not sure if this is a bug. Just wanted to understand how errors are currently being detected.
For the source script: https://etherscan.io/address/0x6342eabec28aec4902432d852dcd08d4f6df96ab#code, running `myth -xo json file_name:ZenomeToken` produces the following output
[code]
Mythril seems to be catching issues which can possibly be caused by code inherited from a parent contract

[2018-07-31 19:14] norhh commented on #394
Hi @shashank-srikant ,Thanks for the report. Currently we are using solc for getting the bytecode and I don't see any code for MintableTokenImpl when i execute
```solc -o outputDirectory --bin --bin-runtime --asm --opcodes sourceFile.sol```
And  it's code seems to be in the ZenomeToken file, looks like solc is considering it as an interface

[2018-08-01 09:33] norhh opened #397 "Assertion error when run on some contracts with -l"
## Description

Specifically happens when -l is used.

## How to Reproduce
[code]
## Expected behavior

Should execute properly

## Environment

- Mythril version: latest master
- Solidity compiler and version: 0.4.25-develop.2018.6.21+commit.32f2db78.Linux.g++
- Python version: 3.6
- OS: Ubuntu
- OS Version: 17.10

## Additional Info
the error seems to occur when we started copying global state's

[2018-08-01 09:49] norhh commented on #395
The line number represents the line in which bug occurs in the file.They didn't report line numbers related to the function names as in the functions like the `burn(uint256)` safe math's add is used so the execution goes into that `add(uint256, uint256)` where assert error and overflow are detected and are reported. Also we only display the part where the corresponding problem occurs rather than t

[2018-08-01 11:42] JoranHonig opened #398 "Return data overflow"
## Description

If an overflowed value is situated in the return data of a transaction, then this should also be counted as a significant usage of the overflowed value

[2018-08-01 11:58] JoranHonig opened #399 "Write to memory function"
## Description

Implement a nice function in laser that extends memory and writes in one go

[2018-08-01 12:33] norhh commented on #232
R(C, c') should also return constraints in C with variables related to the variables in c' right?
If thats the case this is how it should be:-
G be graph with variables as nodes and edge (u, v) between variables u, v exists when there exists a constraint in C which has both the variables u, v.
R(C, c') = return constraints in C which has at least 1(more will belong automatically) variable belongin

[2018-08-01 13:26] rocky opened #400 "Detecting fixed points to reduce execution time"
## Description

Investigate wither using dominators in CFG and detecting a lack of change in a dominator basic block can profitably reduce unecceary searching.

## Background

A [dominator tree](https://help.eclipse.org/photon/index.jsp?topic=%2Forg.eclipse.mat.ui.help%2Fconcepts%2Fdominatortree.html) has the property that the basic block acts as a choke point for each of the basic blocks in its d

[2018-08-01 14:13] JoranHonig commented on #232
@norhh yeah, R should also account for "transitive" dependence

[2018-08-01 14:32] rocky commented on #172
A very good idea, I think. I recently noticed in one of Suhabe's benchmarks [this](https://github.com/ConsenSys/evm-analyzer-benchmark-suite/blob/master/benchmarks/integer_overflow_storageinvariant.sol#L1):

     //No underflow because of credit/balance invariant: sum (credit.values) = balance

How do you feel about this variation: in a front-end wrapper, look for comments of the form:

    //inva

[2018-08-01 14:41] shashank-srikant commented on #395
I see. Sure. Notwithstanding what Solidity produces, would you consider this as expected behavior then? To be reporting an error present in a function from a parent class, while labeling it as another function?

Also, will the same error be reported on analyzing `MinstableTokenImpl` as well?

[2018-08-01 15:19] b-mueller opened #401 "Contract search returns some invalid addresses"
## Description

Replace this text with a clear and concise description of the bug.

## How to Reproduce

Sync a mainnet node up to block ~1,000,000, then run a search, e.g.:

[code]

Some of the addresses are correct, but some have an invalid length.

## Expected behavior

Only correct addresses of 20 bytes length should be reported.

## Environment

- Mythril version: Master plus #396
- Python ve

[2018-08-01 16:06] JoranHonig opened #402 "Remove ipc module"

[2018-08-01 16:16] fubuloubu commented on #172
I like the "in source comments" approach best, because it will end up in version control and a part of the build release instead of some external documentation or script for execution. At least as an option to do either is good.

That syntax isn't bad for invariants. To summarize, this invariant would be treated as an *additional* constraint to the solver? E.g. not ignoring a current issue, but hi

[2018-08-01 17:54] JoranHonig opened #403 "Implement transaction finalizing ops"

[2018-08-01 18:10] norhh commented on #395
Probably something can be done but i am not totally sure?

I am assuming that you are talking about the add instruction here.In that case yes it will be reported while it goes through the flow from the `mint(address, uint256)` function where the `add(uint256, uint256)` gets executed then it goes to that add function and then overflow gets detected if that can happen.

[2018-08-01 23:49] rocky opened #405 "Source-code constraint hinting, and --constraint option"
## Description

Allow a wrapper to augment the code with solver hints of invariants. This could also be given as an option `--constraint`.

In  Suhabe's benchmarks you can find in comments invariants like [this](https://github.com/ConsenSys/evm-analyzer-benchmark-suite/blob/master/benchmarks/integer_overflow_storageinvariant.sol#L1):

     //No underflow because of credit/balance invariant: sum (c

[2018-08-01 23:51] rocky commented on #172
Since the above is an off-shoot of this issue, I have created a separate issue to track discussion there. See #405 .

[2018-08-02 04:58] b-mueller commented on #401
Tracking down the problem, it seems that there's some issue when building the hash->address mapping that causes some addresses to be missing from the mapping.

Note that the hashes of the missing addresses all start with `0`:

[code]

[2018-08-02 10:09] norhh commented on #401
Same thing happened for a 40MB of rinkeby in my case, but the missing hashes here didn't start with 0.

[2018-08-02 10:54] b-mueller commented on #401
I take back the "0" thing, I think that was just a coincidence :)

The problem must be that either these hashes haven't been indexed for some reason, or they've been indexed in a way that doesn't match the hash used for lookup. I'm still not sure about the exact reason. @norhh can you look into this?

[2018-08-02 11:35] norhh commented on #401
yep, i am currently looking into it.

[2018-08-02 16:11] norhh commented on #394
It seems `MintableTokenImpl` is an abstract contract in which case solc doesn't compile it so we won't receive the code from solidity.

[2018-08-02 19:49] norhh commented on #389
This seems to be caused by return values which are arrays which internally does some additions,(probably raising a false positive,not yet verified).

We can just assume that the entire contract is shown when the issue is raised in the return statement or the parameters, As thats how it looks.

Also any mapping on the function return statement seems to show the entire function mapping,That should b

[2018-08-03 00:00] audxo14 commented on #389
Thanks for the reply.
I enjoy using this tool, and i hope it gets better and better

[2018-08-03 11:46] JoranHonig commented on #341
I'll close this issue as a duplicate of #226 if thats okay with you @chronaeon

[2018-08-03 11:46] #341 closed

[2018-08-03 12:14] JoranHonig opened #406 "Namespace has no ipc"
Ipc has been removed from the options in cli.py, however it is still "used" on line 115.

This causes an AttributeError, to fix this the reference can just be removed

[2018-08-03 12:25] JoranHonig commented on #397
fixed with #404

[2018-08-03 12:35] #406 closed

[2018-08-03 12:56] norhh opened #409 "Make the circleci deterministically pass the tests for py35"
## Description

Currently tests results are non deterministic for py35.

## Locations of errors
tests/report_test.py::test_json_report
tests/report_test.py::test_markdown_report
tests/report_test.py::test_text_report

one possible error set: https://circleci.com/gh/ConsenSys/mythril/704
other possible error set:https://circleci.com/gh/ConsenSys/mythril/708

[2018-08-03 15:17] rocky opened #411 "Reducing warnings in EVM code that isn't direclty/immedialy user controllable"
## Description

Mythril (or a wrapper to it) should distinguish which instructions are directly under the control of a programmer and which parts are not direclty under programmer control.

## Background

We get a lot of False positives in code that the programmer can't directly control. Out of bound-exceptions in dynamically generated code I think is one.

## List
- Public storage arrays #276
- P

[2018-08-04 10:50] #394 closed

[2018-08-04 12:48] norhh commented on #401
those hash's corresponding addresses seem to be non existent in the receipts present in leveldb.By any chance is it possible for address to be in accounts but not in transaction receipt.(the other way would happen as some contract creation transactions may fail).

[2018-08-04 13:45] b-mueller commented on #401
Hmm, the likely answer is that those contracts were created by other contracts (factory contracts) and not external transactions. If that's true then I don't see any easy way to add those addresses.

One idea though, this here is from [StackOverflow](https://ethereum.stackexchange.com/questions/760/how-is-the-address-of-an-ethereum-contract-computed):

[code]

What we theoretically could do is

1.

[2018-08-04 14:34] norhh commented on #401
any contract when creating a new contract would form a transaction right?

[2018-08-04 14:38] b-mueller commented on #401
Yes, but perhaps "internal" transactions by contracts aren't stored in the db? I'm not sure about that.

[2018-08-04 16:16] norhh commented on #401
Yeah it seems internal transactions aren't specifically stored.Also what percentage of addresses are properly shown?

[2018-08-05 05:40] b-mueller commented on #401
Roughly 90% are probably shown. It's still usable, for now I'd say let's filter those results and add a disclaimer somewhere that the search doesn't cover contracts created by internal transactions.

In the mid-term it would be nice to address this, but at the moment the effort required isn't justified. Except anyone can think of a simple solution? 🤔

[2018-08-05 12:39] b-mueller opened #413 "Revise Laser EVM class interface"
## Description

Make laser usage more intuitive by simplifying the interface for adding account. Suggestion:

[code]

I would also argue that laser doesn't need to know about the contract name - the mapping address->contract name should happen outside of laser.

[2018-08-06 09:50] b-mueller opened #417 "Catch "effect-check" pattern in integer overflow detection"
## Description

Improve integer overflow detection by not reporting a vulnerability when the overflow is caught by an assert().

## Background

The SafeMath function prevents overflows as follows:

[code]

Mythril reports an issue here because the addition overflows and the result (`c`) is used in a branch condition (in fact it is the condition that is meant to detect the overflow).

This could be

[2018-08-06 10:18] rocky commented on #352
Probably could hack aroudn pysha3 for PyPy 3.5. I hacker-night kind of challenge.

[2018-08-06 10:32] rocky commented on #417
BTW "result used in a jump condition" needs to be used in the right kind of result condition . If that were not `>=` in the assert, things would change.

[2018-08-06 11:18] JoranHonig commented on #413
@b-mueller wtih #404 you kind of have this. Only you need to do ```laser.world_state.add_account```, personally I find this option a bit more logical since you are changing the world state and not laserEVM.

[2018-08-06 18:36] #397 closed

[2018-08-07 03:13] b-mueller commented on #417
Just noticed that I forgot to label the edges which makes this confusing :)To clarify, upper edge is "yes", lower edge is "no".

[2018-08-07 03:30] rocky commented on #417
Also, I'm not totally sure about this but "Result used in jump condition?" might need tracking down of several instructions which might include values on the execution stack.

[2018-08-08 12:07] JoranHonig opened #422 "Implement code coverage in laser"

[2018-08-08 12:09] JoranHonig opened #423 "Concretize default storage value"

[2018-08-08 13:58] shashank-srikant opened #424 "Line numbers and function names don't match"
## Description

Running `mythril -xo json <filename>` produces a report in which sometimes the function names and the corresponding line numbers just don't make sense.
I understand that this is information that's sourced from the solidity binary, etc. But just wanted to make sure this is expected behavior.

## Steps to reproduce

For instance, in  https://etherscan.io/address/0x1c3bed5bd4b0e6a8389

[2018-08-08 14:05] shashank-srikant commented on #395
Any update on what's the way forward for this?

Thanks,

[2018-08-08 14:53] norhh commented on #424
Hi shashank, Thanks for pointing it out, Here `fallback` refers to the solidity [fallback function](https://www.bitdegree.org/learn/solidity-fallback-functions/). After looking at the contract it doesn't look like the function `claimToken` is a `fallback` function.

[2018-08-08 15:12] norhh commented on #424
can you share them, Thanks for the help

[2018-08-08 15:29] shashank-srikant commented on #424
Here are a few.
Format
[code]
i see how `add` and `safeAdd` get flagged, and there's a line number/function name mismatch. but a few of them aren't clear why.

[code]

[2018-08-08 15:45] shashank-srikant commented on #424
also, does Consensys have a bug-bounty program on this product, for me to actually benefit from combing through these nuances/issues :)

[2018-08-08 17:29] b-mueller opened #425 "Security analysis runs indefinitely"
## Description

It appears that security analysis does not terminate under some conditions, at least for [this contract](https://etherscan.io/address/0xce051158b8edfb00ae72b3418a80369728e17536#code).

## How to Reproduce

[code]

## Expected behavior

Analysis should finish.

## Environment

- Mythril version: output from  `myth --version` or `pip show mythril`
- Solidity compiler and version: `so

[2018-08-08 17:30] b-mueller commented on #424
@shashank-srikant no bug bounty program yet, but we're currently working with Gitcoin to set something up. We'll keep you posted!

[2018-08-08 18:47] norhh opened #426 "Use solc hashes over computing them on our own"
## Description

If we do it in our method we might not be able to extract out functions as addresses from the function parameters.
like for this function:-
[code]
we will give output as `init(string,uint256,uint256,uint256,uint256,DLCToken,address)`
over `init(string,uint256,uint256,uint256,uint256,address,address)` which should be the actual output given that `DLCToken` is a contract.
One of the

[2018-08-09 02:34] b-mueller commented on #425
Seems to be related to CFG checking in the integer module. There are multiple `search_children` calls that take several minutes to finish:

[code]

[2018-08-09 02:53] b-mueller opened #427 "IndexError: list index out of range"
## Description

Mythril crashes with an IndexError for the following contract:

[code]
## Environment

- Mythril version: v0.18.11
- Solidity compiler and version: 0.4.24+commit.e67f0147.Darwin.appleclang
- Python version: Python 3.6.3
- OS: High Sierra

[2018-08-11 06:19] #377 closed, assigned to norhh

[2018-08-11 14:27] rocky commented on #427
Is this the same thing?

[code]

[2018-08-13 08:42] #191 closed

[2018-08-13 10:01] JoranHonig opened #432 "If running analysis for an on chain contract, load the correct values into storage"

[2018-08-13 11:27] JoranHonig commented on #427
@rocky No, in your case its actually your fault ;) (however we should fix the error that is generated in this case).
What happens in your case is the following:
push1 0x60 is executed, which means 0x60 is put on the stack and the pc is incremented.
Laser now tries to execute the next instruction (which isn't there) and has the index out of range error. I think in this case we should have something

[2018-08-13 12:09] JoranHonig commented on #425
@b-mueller I succesfully ran analysis on this contract using the following params;
[code]
It took a while, but it did finish. This will probably get better with performance improvements in the future, but I think for now we can close this issue

[2018-08-13 13:08] #409 closed

[2018-08-13 13:32] JoranHonig commented on #371
Closing this as the original issue seems to be fixed. Thanks @johnbender for confirming.
Not sure if the mac os thing has been solved, if not feel free to open another issue :smile:

@JonHaas Thanks for the info! :+1: Hope that helped with @stuardo3191's issue. We're planning on supporting 3.7 as well in the future

[2018-08-13 13:32] #371 closed

[2018-08-13 15:07] norhh opened #435 "Stack assertion error for Delegate call based contracts"
## How to Reproduce
[code]
## Environment
- Mythril version: latest master
- Python version: 3.6
- OS: Ubuntu
- OS Version 17.10

## Additional Environment or Context
It seems to be a problem with some Delegatecall contracts where delegatecall clears out the state stack whereas the taint record doesn't clear it's stack.

[2018-08-13 19:37] #427 closed

[2018-08-14 09:27] #423 closed

[2018-08-14 09:32] #298 closed

[2018-08-14 09:34] JoranHonig commented on #425
@rocky With callback based modules this would become impossible, so I'd say for now we should just accept that it doesn't give too much info

[2018-08-14 11:14] JoranHonig opened #436 "Add creation timeout option to cli"
Laser now has support for create timeout.
This timeout is used to limit the execution time of the contract creation transaction. This configuration should also be exposed to the user through the cli

[2018-08-14 12:42] norhh opened #440 "Analysis doesn't run on some files"
## Description

Analysis terminates in seconds with no issue being detected. for this [contract](https://etherscan.io/address/0xa646e29877d52b9e2de457eca09c724ff16d0a2b#code), when it's copy pasted on file and then run.

## How to Reproduce
[code]

## Expected behavior

Analysis should run.

## Environment

Please modify for your setup

- Mythril version: master
- Python version: `3.6`
- OS: Ubunt

[2018-08-14 12:48] JoranHonig commented on #440
This is caused by the creation transaction not successfully terminating

[2018-08-14 12:48] #422 closed

[2018-08-14 14:36] rocky commented on #425
@JoranHonig I'm not convinced. Let's discuss later to see if there's something that can be done here. I have a feeling we will want a solution to this, although admittedly it might be a low-priority item.

[2018-08-15 08:32] #353 closed

[2018-08-15 08:38] JoranHonig opened #442 "Implement concolic analysis for laser"

[2018-08-16 06:08] shashank-srikant commented on #377
Thanks.

I reran the fixed master on the code i mentioned in my original post.
I now see that mythril's response is (edited/formatted for brevity) -
[code]

Questions -
- Why is `init` the function name associated with `issue 2`? The line number (`359`) suggests it is some operation to do with the variable `closed`?
Is this related to #424?
Mythril also dumps the `code` associated with each issue.

[2018-08-16 07:55] shashank-srikant commented on #435
i see the same errors on some of the contracts when i run mythril in parallel. Although strangely, i'm unable to reproduce it when i run mythril on the contracts serially.

[2018-08-16 07:59] norhh commented on #435
do the contracts have `DELEGATECALL` instruction in them? it can be checked with
 `myth -d <contract_name> |grep DELEGATE`

[2018-08-16 08:09] shashank-srikant commented on #435
no, doesn't exist.
i'm running mythril on all the contracts that appear in this script -
https://etherscan.io/address/0xf6da07a8ffb5683314715d8c7a1a5c952b4e74ca#code

here's a screenshot (which doesn't really help in debugging anything)
![untitled](https://user-images.githubusercontent.com/14936946/44196493-180c3c00-a10a-11e8-97a4-434f0ad661a8.png)

[2018-08-16 08:14] norhh commented on #435
In that case can you mention the mythril commit(or version if it's directly taken from pip) which resulted in this error?

[2018-08-16 08:16] shashank-srikant commented on #435
i'm working on the latest commit from github, which i pulled an hour ago.
[code]

[2018-08-16 08:45] norhh commented on #435
oops, that has some bug which we realized recently.Till then it might be a good idea to try the commit 657458bda31a868c54c8966a98b4b6a1ba841abd .

[2018-08-16 08:47] shashank-srikant commented on #435
btw, i was incorrect in pointing out the file.
i am able to reproduce this issue (and the dump shown in the screenshot) with `myth -xo json filename` where `filename`  has the source https://etherscan.io/address/0xfffce2dc587badbd10b4fe17f0f5f293458f6793#code

[2018-08-16 12:04] norhh commented on #432
I am not sure if it will be possible to load the `mapping (a=>b)` sort of data from the block chain. As they are hashed with indices and we can only get the data if we know the entire `a` part of the mapping.

[2018-08-16 13:12] LoCorVin opened #446 "get_sourcecode_info in contract needs to do this for the contract creation to after recent extension to contract creation analysis"
## Description

Lookup of sourcecode info may fail or return the wrong result when an issue was found in the constructor code. To Fix this the srcmap in addition to srcmap-runtime has to be added to the contract and the lookup then needs information on whether or not to look in the creation or transactional mapping in addition to the address.

## How to Reproduce

Contract: minmal.sol

[code]

[co

[2018-08-16 14:42] shashank-srikant commented on #377
ok, so is this by design? will this be fixed?

[2018-08-16 15:15] norhh commented on #377
Yes, that should be fixed for contracts from a file

[2018-08-16 15:52] norhh opened #447 "stack error for some contracts"
## Description
Currently 2 message calls are placed, but cfg doesn't know that(needs confirmation), so there seems to be a stack misalignment between taint record and machine state's stack and that should be fixed.
Also something similar happens to DELEGATECALL.(#435)

## How to Reproduce
[code]

## Expected behavior
Errors like that shouldn't pop up

## Environment
- Mythril version: master
- Pyt

[2018-08-16 18:18] shashank-srikant commented on #377
@norhh Can we reopen this issue please.

I still see the gibberish function names, and am using the codebase version you recommended -
https://github.com/ConsenSys/mythril/commit/657458bda31a868c54c8966a98b4b6a1ba841abd

On running `myth -xo json` on this code https://etherscan.io/address/0x3e84512f277A5081B9209831C51bCe665035D9DB#code
produces the following output  -
[code]

The `fallback` messag

[2018-08-16 18:31] shashank-srikant opened #448 "Mythril crashes with unicode error"
## Description
For this source file https://etherscan.io/address/0x39e8082b00c9f19ebf553e40feb7cf8459acc693#code, running `myth -xo json filename` produces the following error -
[code]
It is probably because of Hanzi characters in the comments of this code.

## Expected behavior

Mythril is not supposed to crash here.

## Environment
- Mythril version: https://github.com/ConsenSys/mythril/commit/6

[2018-08-16 18:50] JoranHonig opened #449 "Analysis fails when running on overflow.sol"
[code]

[2018-08-16 19:17] norhh commented on #448
Thats quite interesting, for me it is running properly for both python3.5 and 3.6, can you try upgrading solc version to 0.4.25 and then retry it again?

[2018-08-16 19:35] norhh commented on #449
thats the same reason as of #447

[2018-08-17 09:38] norhh commented on #448
oops looks like it isn't available on npm or releases, i have no clue how i have that version, probably installed it straight from github

[2018-08-17 10:01] JoranHonig commented on #449
Not sure, I'll check

[2018-08-17 10:32] JoranHonig commented on #401
@b-mueller This could be closed right?

[2018-08-17 10:46] JoranHonig opened #453 "Implement evm consensus testing"
## Description
The following repository directory provides a set of testcases that can be used to test the correctness of an implementation:
https://github.com/ethereum/tests/tree/develop/VMTests

In order to guarantee the precision of laser, and mythrils analysis results we want to include these tests in our testsuite. We to do this we'll use functionality provided in #442, to execute laser with

[2018-08-17 12:05] b-mueller commented on #401
Yes, that's fixed.

[2018-08-17 12:05] #401 closed

[2018-08-17 13:16] norhh commented on #448
can you try checking whether `solc --hashes` exists for that version or not?

[2018-08-17 13:32] shashank-srikant commented on #448
tried it. it's just been running for a while now..

[2018-08-17 15:37] shashank-srikant opened #454 "False positives for some of the issues Mythril detects?"
I've been trying to understand codes for the different issues which Mythril flags. I'm having a hard time tracking these issues in the actual source.
Not sure if these are false-positives.
Will be great if your team can help spot these issues in the code.

## Description
### Unchecked CALL return value
Mythril detects this issue for the following source codes -
https://etherscan.io/address/0xf7a6e

[2018-08-17 18:12] #436 closed

[2018-08-18 09:37] #449 closed

[2018-08-18 09:38] #447 closed

[2018-08-18 10:43] norhh commented on #377
can you try doing `solc --hashes <contract_name>` for this contract and check whats happening?

[2018-08-18 10:51] norhh commented on #448
can you try rechecking it with the master?As that stack error bug was fixed

[2018-08-18 14:28] norhh commented on #454
in `f7ae6e...` i just checked by mapping the addresses to the PC(i think mythril should return it for simplicity)

PC 3304 = 649
PC 3643, 3969 = 653
PC 1909, 2134, 2394 = 795

They more or less look like false positive to me but it is quite complex so i am not totally sure.
So i tried it on `solidity_examples/calls.sol` and it returned most of the calls present in the program.So it might be a fals

[2018-08-18 15:46] shashank-srikant commented on #454
i don't think i quite follow your reasoning.
could you explain what it is you're trying to ascertain through these steps?
that'll help me develop an intuition on how to debug these issues myself.

[2018-08-18 16:10] norhh commented on #454
It doesn't look like all the calls are made in 1 single transaction.

[2018-08-18 16:11] shashank-srikant commented on #448
I face this even on the current master.
not sure what's going on here.

[2018-08-18 16:33] shashank-srikant commented on #377
i've shifted to `master` from https://github.com/ConsenSys/mythril/commit/657458bda31a868c54c8966a98b4b6a1ba841abd
this is the output i now see on `solc --hashes`, and the function names show up correctly now on `myth -xo json`.

[code]
things look right on this.

i then checked out again to https://github.com/ConsenSys/mythril/commit/657458bda31a868c54c8966a98b4b6a1ba841abd to see if i still see

[2018-08-18 16:39] norhh commented on #377
Thats weird, As far as i know there is no cache except some signatures storage file which won't be of much relevance for file based input.

[2018-08-18 19:24] norhh opened #456 "Support unconstrained execution for both onchain and solidity contracts"

[2018-08-18 19:26] JoranHonig commented on #456
To clarify: This would mean that uninitialized storage will be assumed to be unconstrained symbols versus the concrete 0 value

[2018-08-19 09:07] norhh commented on #448
Can you check whether it crashes for this contract `0xb75a5e36cC668bC8Fe468e8f272Cd4a0fd0fd773`

[2018-08-19 13:15] JoranHonig opened #457 "Sonarcloud code coverage"
## Description

Sonarcloud supports displaying coverage information, it would be usefull if we could put the coverage results of our testsuite over there

[2018-08-20 05:00] rags1412 opened #458 "contract name and instruction address missing in mythril's report output"
## Missing contract name and instruction address in mythril's output

From mythril.interfaces.cli.py:main(), the `report` variable contains all `issues`. Each of these issues hold fields for contract-name and the address of the instruction that raised this vulnerability. I see that the contract name is always 'unknown' and the address of the instruction is always set to zeroes.

## How to reproduc

[2018-08-20 06:11] b-mueller opened #459 "Remove Truffle support"
## Description

Remove the `--truffle` option. It doesn't work very well anyway, and we'll soon have an API-based tool that integrates perfectly with truffle.

[2018-08-20 07:46] b-mueller opened #460 "Source code analysis misses constraints"
## Description

When running Mythril on the [Ethereum verified contracts](https://github.com/thec00n/etherscan_verified_contracts), I noticed a large number of false positives from the ether_send and suicide models. It appears that constraints on functions are not detected or somehow misinterpreted.

## How to Reproduce

Here is an example for a "suicide" false positive ([source](https://github.co

[2018-08-20 07:57] b-mueller commented on #460
Just noticed that the problem in the second example is a different one: The function can indeed be called by anyone, but the Ether is sent to `owner` and not to `msg.sender` as reported.

[2018-08-20 10:25] JoranHonig opened #464 "Creation unknown input size"
## Description

If solidity constructors have an input of unknown size then the following workflow is used in construction:

[code]

In laser c should be interpreted as a symbolic value with c >= b. In executing codecopy we need to concretize c. Right now with #463, we assume that c = b + 1, however we might want to have a different strategy here

[2018-08-20 10:30] rocky commented on #464
Is this something static analysis can help with?

Are there specific Solidity contracts I can look at to get a better sense of what's going on?

[2018-08-20 13:29] #402 closed

[2018-08-20 14:09] shashank-srikant commented on #448
i get a `No contract was created during the execution of contract creation Try to increase the resouces for creation exection (max-depth or create_timeout)` message.
Tried tweaking both, `max-depth` and `create-timeout` with various values; in vain.

[2018-08-20 14:27] JoranHonig opened #467 "Exp implementation"
## Description
Implement full exp functionality in laser

[2018-08-20 14:42] JoranHonig commented on #467
Not really (except that its about the same instruction ^^), this is about the virtual machine implementation. And #350 is about the detection modules

[2018-08-20 14:50] JoranHonig commented on #448
@shashank-srikant That might be caused by the same problem as #440, which is fixed with #463 (not merged yet)

[2018-08-20 17:17] norhh commented on #448
#463 doesn't seem to fix it, seems to be a different problem.

[2018-08-20 17:19] #442 closed

[2018-08-20 17:19] #440 closed

[2018-08-20 18:59] shashank-srikant commented on #454
#460 seems related to this.

[2018-08-21 09:48] JoranHonig commented on #458
The contract naming issue has been fixed with #469.

It seems to me though that the address is being initialized just fine? 600, 682 and 758

[2018-08-21 10:09] JoranHonig commented on #460
I found the problem here. It has to do with our loading concrete storage. The module checks for the occurence of 'storage' in the constraint.
I think this technique is also a bit flawed as it only ever accounts for uninitialized storage slots.

I propose to change this to check for a situation where you can reach the suicide instruction independent of the caller. Which to me seems to be a good des

[2018-08-21 13:06] shashank-srikant opened #470 "Dependence on predictable environment variable"
## Description

I wanted to understand why Mythril flags the following codes with a `Dependence on predictable environment variable`. I couldn't really spot what the dependency was. Can you please help.

Source codes -
[1]
Code: https://etherscan.io/address/0x1DABd43E0F8a684a02712bcD767056E25026061c#code
Contract name|Function name detected by Myth: GIFT_1_ETH | PassHasBeenSet

[2]
Code: https://e

[2018-08-21 13:13] #432 closed

[2018-08-21 13:45] norhh commented on #448
@shashank-srikant ,can you send me the exact file, there might be a chance that some os/editor specific character might be causing the problem.
Also can you check it with the mythril docker image if it is raising any problem.

[2018-08-21 13:53] norhh opened #471 "Add function path to the issue output"
## Description

Add function path in output.
like `function: funcA -> funcB -> funcC`
It makes it hard to understand. In a way related to some contracts(or most as i didn't check everything there) mentioned in #424 as that happens there.

[2018-08-21 14:37] b-mueller commented on #460
It's a very hackish way of doing it.

Now that we support contract creation bytecode, if `owner` is set to `msg.sender` in the constructor, do we set a concrete address? Or is it a symbolic variable?

[2018-08-21 18:13] norhh commented on #459
lets remove it after the api launch

[2018-08-21 19:51] JoranHonig commented on #460
@b-mueller The first transaction will have the symbol corresponding to msg.sender. Which is unconstrained atm, but ofc we can also use a concrete value here.

But there might also be situations where its not the "owner" of a contract that can suicide, but it would use a different construction. I think that the generalization, "not every caller should be able to call suicide()" will capture this pr

[2018-08-21 23:22] rocky opened #473 "Error getting source"
## Description

mythril gives a traceback in running:

[benchmarks/Suhabe/benchmarks/assert_constructor.sol](https://github.com/ConsenSys/evm-analyzer-benchmark-suite/blob/948ff12ef857ed84e252d3f1701cc831b86124bf/benchmarks/assert_constructor.sol)

Below are details.

(This is a virtue of regularly running the benchmark suite.)

[Pull request 472](https://github.com/ConsenSys/mythril/pull/472) was

[2018-08-22 00:20] birdofpreyru opened #474 "mythril/myth Docker container: problems with wildcard symbols in paths"
![image](https://user-images.githubusercontent.com/20144632/44435780-e683ec80-a5b1-11e8-9a24-eeb1da89f6d3.png)

[2018-08-22 01:55] b-mueller commented on #460
What we had before was a slightly extended version where we asked "can every caller execute suicide?" and, if the answer was "no because there's a constraint that says msg.sender must match storage_x", we also looked for a reachable SSTORE operation that writes to "storage_x". This was imperfect, but helped catch cases such as wrongly names constructors.

If owner is set to a concrete value 0x1234

[2018-08-22 07:48] norhh commented on #473
This is related to #446

[2018-08-22 08:08] LoCorVin commented on #467
I ran into a problem to, i think it is because exp_ only knows how to exponentiate concrete values with the base 2 correct? I ran into this when the masks where computed to read and write to storage variables shorter than 256 bits.

[2018-08-23 10:37] #399 closed

[2018-08-23 10:44] #458 closed

[2018-08-25 13:38] shashank-srikant opened #478 "Function names again being reported incorrectly in Mythril reports"
## Description

Looking at the latest master, when verifying fixes made in #469, I find the function names again as being reported as `"function": "_function_0xa9059cbb`" in Mythril's output.

## How to Reproduce
`myth -xo json 0xfffeee1655f36233fd58fdda74720b4eb85fddec`

## Environment
- Mythril version: be904f98ccdaec7f90fc6edbffa1d282721eab2e

[2018-08-25 15:01] norhh commented on #478
@shashank-srikant ,I am just guessing where the error can be here as i couldn't reproduce it.Can you rerun it and check whether the error persists or not?

[2018-08-25 15:16] norhh opened #479 "Mythril crashes with Unicode error on docker"
## Description

Mythrl docker image crashes with unicode error for [this](https://etherscan.io/address/0x39e8082b00c9f19ebf553e40feb7cf8459acc693#code) contract. may be related to #448 but in this case for docker it is crashing at a different location.

## How to Reproduce
[code]

## Expected behavior

It should not crash.

## Environment
Please modify for your setup

- Mythril version: 0.18.11
-

[2018-08-25 16:15] shashank-srikant commented on #478
that's odd.
this is what i see.
![myth](https://user-images.githubusercontent.com/14936946/44620295-9e89f180-a85f-11e8-9092-824f72a05ce1.png)

i just pulled the latest code into the mythril folder which had previously been installed through `pip`.

when i run `solc --hashes` on this code, i do see the function names though.
[code]

[2018-08-25 17:41] norhh commented on #478
can you do a `pip freeze` and post the output, it might be helpful to recreate

[2018-08-25 19:37] norhh commented on #448
@shashank-srikant , are you running it on `python 3.5.2` ? because i think there exists a problem with that version of python, But in this case i am not even sure mythril would run with that version of python,
Can you recheck it, also can you try repeating the same in python 3.6 or python 3.5.3+ to check whether this problem exists or not?

[2018-08-25 21:07] shashank-srikant commented on #478
upgrading `python3.5` to `python3.6` seems to fix this

[2018-08-25 21:08] shashank-srikant commented on #448
No, still see the same error.
Although - it fixed #478!

[2018-08-25 21:34] norhh commented on #448
can you please help us by running the below code in your PC and say whether it produces an error or not, just to confirm that whether my pc is slow to detect that issue which lead to error or it's some dependency issue.

[code]

[2018-08-25 21:40] shashank-srikant commented on #448
works fine on my machine.
this is the output i see.
[code]

[2018-08-25 21:59] norhh commented on #448
just to confirm it's the unicode error right? not the #446 or `No contract was created` message for that commit.

[2018-08-25 22:04] shashank-srikant commented on #448
?
the output of the contract you shared?
i see no error when i run it. it runs fine. i've shared the output in my comment above.

[2018-08-25 22:12] norhh commented on #448
oops i mean the original contract of the issue.

[2018-08-26 13:03] rocky commented on #473
A possible solution for this is https://github.com/ConsenSys/mythril/pull/480 .

[2018-08-26 13:14] norhh commented on #448
@shashank-srikant thanks for the swift replies, also can you check whether #481 fixes it or not, that would be quite helpful as I can't check it in my pc.

[2018-08-26 13:28] shashank-srikant opened #482 "Python 3.6"
Please clearly indicate that Python 3.6 is a requirement to run Mythril.
Running Python 3.5, as seen from #478, can cause very weird behavior.
I tried finding whether this dependence on Py3.6 has been mentioned anywhere in the current docs/wiki/etc., and didn't manage to spot it anywhere.
This will just save people a lot of time and energy.

Thanks.

[2018-08-26 13:51] norhh commented on #482
except `3.5.2` i think the other versions don't have any issues because in one of the virtualenv i am using python `3.5.0`(also `3.5.5`) without any problem. That specific version had some weird issues, I am not even sure how it ran for you in the first place :smiley: . It might be a good idea to add this to the docs.Thanks a lot for the suggestion.

[2018-08-27 11:11] #467 closed

[2018-08-27 11:35] JoranHonig commented on #460
Okay, the problem here is the symbolic initialization. It will initialize the owner as msg.sender, which is an unconstrained symbol. As such its not weird that in the analysis message call, the check "owner == msg.sender" is satisfiable, because owner will also be symbolic.

To solve this we could make the message sender a concrete value. This could roughly look like this:
- create initial "creato

[2018-08-27 13:29] rocky opened #484 "Add mythril version number in JSON output"
## Description

When mytrhil gives JSON output, it would be fantastic if it could include a version string

## Background

In support of mythril-api [Include Mythril version used in the analysis in an analysis status(https://github.com/ConsenSys/mythril-api-support/issues/5), it would be helpul for this to be in JSON output.

Otherwise  the API has to make two calls per analysis to do this. Or ass

[2018-08-27 15:31] rocky commented on #484
Another thought and variation on this is to have `--version` not exit if there are other options. This would be whether or not `-o json` is used.

[2018-08-27 19:14] #435 closed

[2018-08-28 14:52] #478 closed

[2018-08-29 12:37] #482 closed

[2018-08-29 12:39] shashank-srikant commented on #482
was a noted added to the readme/docs regarding 3.5.2 then?

[2018-08-29 12:41] norhh commented on #482
Its added in the wiki.

[2018-08-29 12:41] shashank-srikant commented on #482
awesome; thanks.

[2018-08-29 12:42] norhh commented on #448
@shashank-srikant can you check whether #481 fixes this or not whenever you are free? That would be quite helpful.

[2018-08-30 11:23] b-mueller opened #487 "JUMPDEST instructions missing in CFG"
## Description

1. Not sure if it's a bug or a feature, but the JUMPDEST at the start of jump targets isn't shown in the CFG. See e.g. the JUMPI to offset 159, and the target node starts at offset 160.

![cfg](https://user-images.githubusercontent.com/5194767/44848615-a8598d80-ac81-11e8-9e33-231b7510ec61.png)

2. Function names used to be shown in the CFG at the start of each function, those are g

[2018-08-30 11:29] b-mueller opened #488 "CFG HTML output is broken"
## Description

The CFG HTML file is broken in master. CFG is shown in a small frame:

![screen shot 2018-08-30 at 18 26 48](https://user-images.githubusercontent.com/5194767/44848799-4cdbcf80-ac82-11e8-80b3-b9ab0cb9871a.png)

## How to Reproduce

[code]

## Expected behavior

CFG should be displayed in full frame as usual.

## Environment

- Mythril version: 4446b7692570b6188794b29992c8d174b61a2a

[2018-08-30 13:59] norhh commented on #488
Probably due to the change in html version when DOCTYPE string was added

[2018-08-30 18:30] GNSPS opened #490 "Implement EVM version in LASER"
## Description

After discussion through a different channel with the team decided to create this issue for tracking purposes.

Given that some hard-forks implemented somewhat significant changes to EVM execution there's a possibility that some of these are or may become pertinent to Mythril's analysis of said execution.

Much like the Solidity compiler, which targets the different EVM versions ac

[2018-08-30 19:42] rocky opened #491 "Detect EVM stack overflow?"
## Description

Detect EVM stack overflow

## Background

This was something mentioned in passing by Gonçalo.

[2018-08-31 14:54] b-mueller commented on #490
IMO the strategy should be to always be up-to-date with the current mainnet code by default.

It would be cool though to be able to switch to an upcoming fork to "peek into the future" so-to-say. That way, we could detect if any existing contracts become vulnerable due to the changes.

[2018-08-31 18:52] JoranHonig commented on #457
@norhh This doesn't seem to be fixed yet, is that right?

[2018-09-01 09:09] norhh commented on #457
Yep, it requires some weird xml format, I just gave it a shot with typical xml format

[2018-09-02 04:40] b-mueller opened #493 "False negative on 'missing constructor' benchmark"
## Description

Mythril-master does not report the ether withdrawal issue in the [missing constructor](https://ethereumanalysisbenchmarks.github.io/nssc/index.html#missing_constructor/Missing) benchmark.

This is a variation of the SUICIDE-related issues #460 and possible fixed by #485.

## How to Reproduce

[code]

## Expected behavior

Multi-tx analysis should detect that the Ether is reachable

[2018-09-02 06:47] b-mueller commented on #460
How about this logic:

1. Remember the storage constraints for every function that executes a critical action:
--> send ether to msg.sender or address from calldata
--> execute SUICIDE
2. Investigate every closing state of T1...Tn. Taint all storage locations that contain calldata or msg.sender. Those are assumed to be storage locations that can be modified arbitrarily.
3. Report a vulnerability i

[2018-09-02 12:36] dmuhs commented on #488
Working on this. Seems to be a relatively straightforward issue with the browser rendering engines switching to standards mode now that the doctype is specified.

[2018-09-03 19:39] #488 closed

[2018-09-03 20:49] dmuhs commented on #487
Tracing the bug a little further down, it doesn't seem to be related to the node's start address.

On a side note, the start address not being set and the `JUMPDEST` condition [in the callgraph module](https://github.com/ConsenSys/mythril/blob/master/mythril/analysis/callgraph.py#L100) never executing seems to be another issue.

Looking at the missing `JUMPDEST` instructions however, the disassemb

[2018-09-04 05:55] infiBoy opened #496 "Can't initialize contract class"
I'm doing my first steps in mythril. Here is the code I'm trying to run:

from mythril.ether.soliditycontract import SolidityContract
from mythril.laser.ethereum import svm
contract = SolidityContract("./examples/rubixi.sol", "Rubixi")

But I get the following error:
``
 Traceback (most recent call last):
  File "/home/username/PycharmProjects/untitled/p.py", line 4, in
    contract = SolidityCont

[2018-09-04 06:13] norhh commented on #496
Hi @infiBoy, thanks for the report, unfortunately there is a bug in mythril in the last release regarding the signatures file, so can you try using the master branch for this, that might do the work.

[2018-09-04 08:44] JoranHonig commented on #487
Hey @dmuhs, so sorry for not responding earlier.

This happened semi intentional. If we have a jump or jumpi instruction then the mutator function changes the pc to the pc of the jumpdest, the @instruction decorator in postprocessing then increments the pc again, which will lead to the jumpdest not being executed/having a separate state. This is stll a correct execution, which is why I left it lik

[2018-09-04 11:59] infiBoy commented on #496
I tried to download the master branch and import it directly.
However, it still throw the same error.
Can you guide me more specifically?

On Tue, Sep 4, 2018 at 9:13 AM Nikhil Parasaram <notifications@github.com>
wrote:

[2018-09-05 20:05] norhh commented on #496
hey @infiBoy, you don't have any problems currently with master right?, in that case i am closing this issue, If the problem persists then feel free to mention it here, we will reopen this issue and fix it :smile:

[2018-09-05 20:05] #496 closed

[2018-09-06 07:04] roynalnaruto opened #497 "ValueError: invalid literal for int() with base 16: ''"
## Description

Error while running mythril on truffle project through the docker container. A few contracts are analysed correctly, and then I see the following issue:
[code]

## How to Reproduce

The repository I am trying to run this on, is a public repository: https://github.com/DigixGlobal/dao-contracts

[code]

## Environment

* OS
[code]

* Docker version:
[code]

* Python version:
[code]

[2018-09-06 07:53] norhh commented on #424
In nearly all cases it is outputting the root function in the function path, But it is preferable to recheck this again after #471

[2018-09-06 07:54] norhh commented on #497
hi @roynalnaruto , thanks for pointing it out, this issue was fixed in master but we are yet to have a release(hopefully in a few days), till then can you use the master branch? as it is quite stable.

[2018-09-06 08:26] roynalnaruto commented on #497
Hi @norhh, thanks for the quick response.
so I can create the docker image from the `master` branch?
I am trying to run the `docker_build_and_deploy.sh` script, this is the output:
[code]

How can build the Dockerfile (what options) to run a container from master branch?

[2018-09-06 13:38] birdofpreyru commented on #497
@roynalnaruto do you mount folder with contracts to the Docker container, as mentioned [here](https://github.com/ConsenSys/mythril/wiki/With-Docker)?

[2018-09-06 17:28] dmuhs commented on #487
@JoranHonig Thanks for clarifying. After having spent just a couple of hours with the LASER core routines it's still quite a bit of black magic to me.
As for the pc index of the JUMPDEST, instead of manipulating the `@instruction` decorator and having to deal with all instructions, we could simply decrement the index in the `JUMP` and `JUMPI` mutator functions. In these functions there's already l

[2018-09-07 02:47] roynalnaruto commented on #497
@norhh I also tried to install the python package by `python setup.py install`

My python version is `3.5.6`

On running `myth --version` I see this error:
[code]

This error was I think fixed after Python 3.5.2, so it should not occur for me. Is there some dependency issues? Have you guys faced an issue like this?

I think building and using the Docker image would be far more comfortable, but tha

[2018-09-07 06:17] roynalnaruto commented on #497
@norhh `python3.5 --version` also shows `3.5.6`

[2018-09-07 08:30] birdofpreyru commented on #497
@roynalnaruto it is weird that Docker does not work for you.

Can you try to compile your project to bytecode and then run analysis on the bytecode, like
`$ docker run mythril/myth -xc aabc`
If this will work, then I'd say the problem is with your Docker setup and permissions to access your host filesystem. Otherwise, something wrong with Docker build or the latest Mythril version itself.

[2018-09-07 12:11] norhh commented on #497
@birdofpreyru it wasn't exactly the docker problem, there was a bug with the previous version and so when he tried to build docker on master branch he is having some issues to build.

[2018-09-07 13:52] JoranHonig commented on #487
What about something like the following:
[code]
I think this will be simpler, and more easy to directly understand the meaning

[2018-09-07 16:16] #446 closed

[2018-09-08 14:04] dmuhs commented on #487
I agree that the decorator looks cleaner. For the jump mutator function, this approach works well. In the jumpi function we will have to manually increase the pc in the cases where the stack's operation (`op0`) cannot be parsed to an integer, and in the false case.

When giving the `@instruction` decorator arguments, we will end up with three nested functions. To keep things readable, I will conve

[2018-09-09 04:15] AyaCoin opened #500 "Long execution time"
## Description

I'm running Mythril on Ubuntu 18.04, and although it executes in a few seconds on sample contracts, when I run it on my own contract, it's been running for over 2 hours now without any signs of life. It doesn't appear to be hung, although I'm doubting that it should be taking this long.

Given that the contract being analyzed is 234 lines of code which creates a relatively straight

[2018-09-09 05:48] norhh commented on #500
hey @AyaCoin , it's not just 234 lines , it also adds all the libraries and analyses them through that too, so. I encountered a similar problem sometimes but in my case my pc got hung, can you mention the RAM of the PC you are using?

[2018-09-09 06:11] AyaCoin commented on #500
You make a good point about the libraries, although the weird thing is that a colleague of mine ran it on an instance of Ubuntu 16.04 and it finished within a matter of 30 seconds or less, so I'm working my way through the (difficult) installation process on a VM that still has 16.04.

To answer your question though, it has 4GB or RAM.

Thanks also for your suggestions to specify a max-depth. I ha

[2018-09-09 06:44] norhh commented on #500
probably OS shouldn't matter here, mine is 17.10 and it takes around 2-3 minutes, Also VM might probably slow it down.Also is your colleague's processor and yours similar?

[2018-09-09 07:14] rocky commented on #460
It feels to me that when we have such involved descriptions, this would be better formulated as in terms of dataflow using t"def/use" (for a given newly created computation, where are the uses of the computation) and "use/def" for a given computed value at some point in the program (sometime after it has previously been computed) what is the span of the effect that particular use.

In this particu

[2018-09-09 08:28] jeamick commented on #459
Hello @b-mueller @norhh ,

I can work on this issue if nobody will be on it .

Thanks

[2018-09-09 09:09] norhh commented on #459
hi @jeamick , yes it would be great if you would like to do that, but unfortunately we are thinking of removing the truffle support after the api release, so might be good if you can do that then.

[2018-09-09 14:37] dmuhs commented on #479
Looking into this, the most recent Mythril container gives me a different `solc` version. Apart from that, I can reproduce the error with the container.
![screenshot from 2018-09-09 16-32-44](https://user-images.githubusercontent.com/5565837/45265624-1b1af380-b44e-11e8-9cb5-3cf94bc332d8.png)
Interestingly, I do not get the error running Mythril locally, even though I have the same dependencies ins

[2018-09-09 14:50] norhh commented on #479
oops that wasn't the container's solc version, will update it

[2018-09-09 14:53] norhh commented on #479
Also i think that TypeError was another error #446 .

[2018-09-09 17:05] dmuhs commented on #479
PR is out. For reference, [this SO thread](https://stackoverflow.com/questions/25127673/how-to-print-utf-8-to-console-with-python-3-4-windows-8) explains everything in a little more detail.

[2018-09-10 02:08] AyaCoin commented on #500
Well, I installed Mythril on a fresh installation of Ubuntu 16.04, and Mythril ran and finished on the contract in about 20 seconds. I have no idea what components are being changed from 16.04 to 18.04, but the process of upgrading to 18.04 is what seems to have killed it somehow.

One small suggestion is that it'd be helpful if the program at least said "Looks good!" Or had some other sort of con

[2018-09-10 02:08] #500 closed

[2018-09-10 02:11] AyaCoin commented on #500
P.S. Thank you for developing such a helpful tool. I may have had difficulties installing it, but it's hugely beneficial, and I very much appreciate the value it adds to the crypto community.

[2018-09-10 15:21] shashank-srikant opened #504 "Severity of issues raised by Mythril"
I couldn't seem to find good documentation which explains the severity of issues currently raised by Mythril.
I see that issues currently are annotated with a `type` which can read either as a `warning` or `information`.

Can we have this more well defined? And added to the Wiki?

Thanks.

[2018-09-10 15:45] norhh commented on #504
hi @shashank-srikant , it's kind of in progress currently, https://github.com/ConsenSys/mythril/wiki/Vulnerabilities is the wiki page related to that.
or you can also check [this](https://github.com/ConsenSys/mythril/wiki/Mythril-Detection-Capabilities) where there are references to the corresponding problems.

[2018-09-10 15:45] shashank-srikant opened #505 "emit statements being flagged as StateChange"
## Description
I was analyzing `StateChange` errors raised by Mythril, and noticed a number of contracts having the following pattern being flagged as a state-change issue.

[code]
Technically, `emit` does change states after the external call `transfer` has been called.
But since it is only logging information, shouldn't the severity of this warning be as minimal as possible?
This also relates to

[2018-09-10 16:48] shashank-srikant commented on #504
i see. sure
my concern is not much with understanding what the nature of these vulnerabilities are - i think they've been decently documented.
i'd specifically like to understand the significance of the `type` field in the output reports, and want to understand the basis of classifying something as `information` versus a `warning`.
i want to understand the different `type`s and map them to the lis

[2018-09-10 16:51] shashank-srikant commented on #448
sure; had been held up these last two weeks
will check and get back

[2018-09-12 04:13] dovancao opened #506 "Could not connect to RPC server. Make sure that your node is running and that RPC parameters are set correctly."
## Screenshots
![screenshot_1 2 _li](https://user-images.githubusercontent.com/36324165/45401765-674b7b00-b67c-11e8-9fbc-dbc68df6a7ef.jpg)

Hi everyone, I got this message when try to run "docker" in my computer.

As the picture, I run this command
[code]

This is system and tools which i used
[code]
Thank you for your help!

[2018-09-12 08:16] norhh commented on #506
Hi @dovancao , In this case what might be happening is that the docker cannot find any ganache running inside the container, so it is resulting in an error.
try
`sudo docker run --network="host" mythril/myth --rpc localhost:8545 -da 0xe94a93e43551513d46197c649bfba9f9d6d73f59`
change the port from 8545 to default of ganache.
Also can you please mention the port on which your ganache was running?As

[2018-09-12 14:59] #460 closed

[2018-09-12 15:18] #473 closed

[2018-09-12 20:58] norhh commented on #350
I am not sure whether z3 does support exp or not,if it doesn't then maybe we can approximately do it as exponent must be less than 256(if base>1) so we can just check for them(base>1, exponent>=256), but it doesn't cover all cases. If we have some killer cpu power then search through all the exponents(2 to 255) and get the corresponding base for the exponent(like base >= (2^256)^(1/val), exponent>

[2018-09-13 08:45] #506 closed

[2018-09-13 08:46] dovancao commented on #506
Thank you so much. I solved that issue

[2018-09-13 09:50] sameepsi commented on #98
Any Justifications for this??

Type: Informational
Contract: Unknown
Function name: addTokensToTransaction(bytes32,uint256)
PC address: 3244
A reachable exception (opcode 0xfe) has been detected. This can be caused by type errors, division by zero, out-of-bounds array access, or assert violations. This is acceptable in most situations. Note however that `assert()` should only be used to check inva

[2018-09-13 10:03] b-mueller commented on #98
@sameepsi not 100% sure, but perhaps exception is triggered if `transactions[scriptHash]` doesn't exist?

[2018-09-13 10:34] sameepsi commented on #98
@b-mueller I don't think so. In that case it will simply set it.
In solidity everything is set to default if it does not exists

[2018-09-13 15:19] iljah opened #508 "taint_analysis.py, line 144, assert len(state.mstate.stack) == len(record.stack)"
## Description
[code]

## How to Reproduce
[code]
## Expected behavior
Analysis of above contract

## Environment
Myth installed with pip3 install --user ...
[code]

[2018-09-13 16:03] JoranHonig opened #509 "Do reachability check on branch in laser svm"
If we have some kind of branch in the cfg we should prune unreachable branches.
Right now we only prune branches where the condition simplifies to True

[2018-09-13 16:39] norhh commented on #508
hey @iljah, can you try it on master, this should work there as this bug was already fixed.

[2018-09-13 16:47] iljah commented on #508
That worked, thanks

[2018-09-13 16:47] #508 closed

[2018-09-14 00:30] jeamick commented on #459
@norhh  so after the release right ?

[2018-09-14 13:07] norhh commented on #459
@jeamick , yes after the api launch.

[2018-09-15 13:08] #493 closed

[2018-09-16 04:16] norhh commented on #457
@JoranHonig , by any chance can add to circleci to run the coverage_report.sh? as my local circleci is throwing some permission denied errors out of nowhere suddenly and I don't want to spam the gihub's circleci.

[2018-09-16 07:18] #479 closed

[2018-09-17 05:17] b-mueller opened #510 "Incorrect reporting of "multiple sends""
## Description

Mythril incorrectly reports "multiple sends in a single transaction".

## How to Reproduce

Running Mythril on the code sample for [SWC-104](https://github.com/SmartContractSecurity/Omnibus/blob/master/taxonomy/SWC-104.md) reports two instances of "multiple sends":

[code]

[code]

## Expected behavior

The issues should not be reported.

## Environment

- Mythril version: Latest m

[2018-09-17 08:40] JoranHonig commented on #504
This issue seems finished with work going on in a different repository, therefore I'm closing this issue

[2018-09-17 08:40] #504 closed

[2018-09-17 09:06] JoranHonig commented on #225
This issue is on hold with the work going on around Omnibus we shouldn't do duplicate work

[2018-09-17 09:12] b-mueller commented on #505
Hi @shahankhatch, are you referring to the "state change after external call" issue?

I tried to simplify your example and I don't see anything reported,

[code]

Mythril: 0.18.11

[code]

[2018-09-17 09:14] b-mueller commented on #510
Here is another example:

[code]

Mythril master:

[code]

[2018-09-17 09:40] JoranHonig commented on #510
@b-mueller Is that also fixed with my pr?

[2018-09-17 09:46] JoranHonig commented on #457
I'm not 100% sure what I should do here

Do you wan't me to add something like the following to the config.yaml and run circleci locally?
[code]

[2018-09-17 09:56] norhh commented on #457
yes, it should be run before the sonnar-scanner.

[2018-09-17 11:15] #510 closed

[2018-09-17 11:25] JoranHonig opened #513 "Implement regression testing based on SWC"
## Description
There is an ongoing effort to develop:
Smart Contract Weakness Classification and Test Cases in https://github.com/SmartContractSecurity/SWCR

In order to track progress in the mythril results we should implement regression testing based on the swc

[2018-09-17 12:39] JoranHonig commented on #277
This seems to be fixed with the current version of master, closing

[2018-09-17 12:39] #277 closed

[2018-09-17 12:39] JoranHonig commented on #278
This seems to be fixed with the current version of master, closing

[2018-09-17 12:39] #278 closed

[2018-09-17 12:41] JoranHonig commented on #75
Works correctly in master, closing

[2018-09-17 12:41] #75 closed

[2018-09-17 13:28] JoranHonig commented on #403
waiting for #514 #503 before starting on this

[2018-09-17 19:34] #457 closed

[2018-09-18 12:50] norhh opened #515 "ethersend in rubixi.sol"
## Description
ethersend isn't being detected in rubixi.sol

## How to Reproduce
[code]

## Expected behavior
Ether send should be detected.

## Environment
- Mythril version: master
- Solidity compiler and version: `0.4.25`
- Python version: `3.6`
- OS and Version: Ubuntu

[2018-09-18 13:17] b-mueller commented on #515
I can confirm:

[code]

[2018-09-18 13:24] b-mueller opened #516 "False positive on ether_send analysis"
## Description

Withdrawal of Ether is wrongly reported in the following contract:

[code]
## How to Reproduce

[code]

## Expected behavior

"Ether send" should not be reported here because the `onlyOwner` checks the caller against the owner, and owner is correctly initialized during construction.

## Environment

Please modify for your setup

- Mythril version: Master
- Solidity compiler and ver

[2018-09-18 13:31] JoranHonig commented on #515
This is caused by the fact that we only have 2 transactions, so there is no way to make yourself owner, get the ether and get collectedFees to be not 0

I'm currently working on coverage based transaction issuing to fix this :+1:

[2018-09-18 16:47] norhh opened #517 "Tests for analysis modules"
## Description
write tests for analysis modules

[2018-09-18 18:42] norhh commented on #509
Ah!, this was the reason why it took wayy too long time to run when i removed some unnecessary constraints in the integer module( kind of #232 ) and ran on some contracts. Time taken quadrapuled(or more than that) because of this. So this should be done before the independence optimization.

[2018-09-19 11:01] norhh commented on #448
hey @shashank-srikant , any updates?

[2018-09-19 11:48] norhh opened #518 "multiple lines with same storage index and function in ether send"
## Description
I ran rubixi.sol by adding `payable` for fallback, it resulted in multiple lines denoting the samething.
[code]

## How to Reproduce

1. Add payable to fallback function in rubixi.sol
2. run mythril

## Expected behavior
Multiple lines shouldn't be giving out same information.

## Environment

Please modify for your setup

- Mythril version: output from  `master`
- Solidity compiler

[2018-09-19 19:13] #487 closed

[2018-09-19 20:47] norhh commented on #509
you will mostly be focusing on the API for the few weeks right? In that case can I pick this up?

[2018-09-20 17:39] JoranHonig commented on #509
Sure, go ahead

[2018-09-20 17:43] norhh opened #520 "Gas Simulation"
## Description

Simulate Gas for EVM.
## Tests
Add the corresponding [EVM tests](https://github.com/ethereum/tests) which test gas

[2018-09-20 19:48] norhh opened #521 "metacoin.sol doesn't detect overflow"
## Description

## How to Reproduce
[code]

## Environment

- Mythril version: master
- Solidity compiler and version: `0.4.25`
- Python version: `3.6`
- OS and Version: Ubuntu 17.10

[2018-09-21 04:18] b-mueller opened #523 "Output transaction sequence for reaching vulnerable state"
## Description

Add an option that outputs the transactions for reaching each vulnerable state.

## Background

We already have all the data we need from the solver. It should be trivial to reformat this output for various purposes:

- As a Truffle test;
- As an executable exploit;
- As a script that deploys the contract to Ganache and attempts to exploit the issue.

## Scope

Compose the call dat

[2018-09-21 06:37] b-mueller commented on #521
[code]

Overflow is impossible because there's no way to increase `balances[msg.sender]` amirite?

[2018-09-21 06:46] b-mueller opened #524 "False negative on Parity Walletlibrary"
## Description

Mythril currently does not report the "accidental suicide" bug in Parity WalletLibrary.

## How to Reproduce

[code]

## Expected behavior

The debug should be exploitable within 2 transactions:

1. Call `initMultiowned` or `initWallet` to set `msg.sender` as the only owner
2. Execute `kill()`

## Environment
Please modify for your setup

- Mythril version: Current master
- Solidit

[2018-09-21 06:47] b-mueller commented on #517
I suspect that this is indirectly addressed by #513?

[2018-09-21 09:16] norhh commented on #521
Yeah, there is no overflow.  I didn't look at the code properly, I just remember previous `myth` output which detected an overflow here :stuck_out_tongue:  .

[2018-09-21 09:16] #521 closed

[2018-09-21 11:54] b-mueller opened #526 "Include SWC ID in analysis results"
## Description

Include the [SWC ID](https://github.com/SmartContractSecurity/SWC-registry/) for each issue reported in the text, markdown and json outputs. This will make it easier to integrate with the SWC registry for benchmarking.

E.g.:

[code]

Tagging @s0b0lev as it is relevant for SWC integration.

[2018-09-21 12:03] b-mueller commented on #225
Vulnerability descriptions will be moved to the SWC. Can we close this?

[2018-09-21 19:01] JoranHonig opened #527 "Calldatasize constraints"
When there is a constraint on some ```calldata[x] != 0``` then there should be a constraint that the ```calldatasize > x```

Take the example by Chofhe from discord( @nbanmp ):
[code]

Where mythril now reports a false positive

## Proposed solution
Add the following constraint on calldataload:
[code]

### Good first issue
This issue is labeled as a good first issue. Hop by on our discord server i

[2018-09-21 19:43] JoranHonig opened #528 "Calldataload indexing"
Currently calldataload creates a symbol called ```calldata[index]``` while what it should create is a concatination of ```calldata[index] ... calldata[index + 31]``` according to the yellowpaper.

This can cause false positives when mythril can't recognize that msg.data[37] is the second byte in the result from calldataload(36).

### Good first issue
This issue is labeled as a good first issue ( n

[2018-09-22 14:53] norhh commented on #497
hey @roynalnaruto , can you use the latest version of mythril 0.18.12, it doesn't have this bug

[2018-09-22 14:53] #497 closed

[2018-09-23 12:50] JoranHonig commented on #526
It would also be cool/nice if we could make it a hyper link to the page describing it ( some terminal emulators should allow this )

[2018-09-24 08:52] roynalnaruto commented on #497
@norhh you mean, try to build docker image from the 0.18.12 release available?

[2018-09-24 09:12] roynalnaruto commented on #497
@norhh can you please provide me with the necessary steps to proceed in doing so? I downloaded the 0.18.12 tar.gz file from the releases page. I am on an ubuntu 16.04 machine.

[2018-09-24 09:31] norhh commented on #497
@roynalnaruto , can you try doing `pip install mythril==0.18.12` .It might be good to do it in python's virtual environment.

[2018-09-24 10:03] roynalnaruto commented on #497
@norhh I am in python's virtualenv, and I installed mythril==0.18.12.

When I run `myth --version` in the virtualenv, I see this:
[code]

Any other command to setup and install the z3 libraries?

[2018-09-24 12:00] rocky opened #529 "Information vs. Informational in Type field"
## Description

In the "Type" field sometimes Mythril uses "Informational" and sometimes "Information". Regularize?

## How to Reproduce

[code]

[ `RaceCondition.sol`](https://github.com/trailofbits/not-so-smart-contracts/blob/master/race_condition/RaceCondition.sol) r is part of the Trail of Bits (Not so) smart Contracts.

[2018-09-24 16:14] rocky commented on #529
Looks like "Informational" is used more often than "Information".

[code]

[code]

[2018-09-24 16:27] rocky opened #531 "Possible grammar in RaceCondition warning"
## Description

I believe the first comma is wrong. I think it should either be a semicolon, or I think better a period. And the last sentence isn't one.

I'm using only the first sentece of Mythril descriptions in short reports. And I think that first sentence is a nice concise summary description of the problem. The next sentence is what to do to ameliorate the problem.

## How to Reproduce

See

[2018-09-25 01:11] roynalnaruto commented on #497
@norhh Ok, I think from a virtual environment it can work. I am trying to analyse a truffle project, which has a directory structure, with the contract `.sol` files inside those directories. It also imports contracts from `node_modules` directory. Mythril output says the file is outside of allowed directories. How do I explicitly set all of those directories as allowed?
[code]

[2018-09-25 02:17] roynalnaruto commented on #497
@norhh so I have tried using `--allow-paths .` to compile the `contracts/storage/DaoUpgradeStorage.sol` contract using this:
[code]
and it compiles successfully.

But when I use `--solc-args "--allow-paths ."` along with the mythril command, it still doesn't work and throws the same issue that the file is not in allowed directories.
[code]

How am I supposed to use the `solc-args` option?

[2018-09-25 09:58] norhh commented on #497
@roynalnaruto , currently `--truffle` option uses truffle's build source, so currently it doesn't have a support for the `--solc-args` option

[2018-09-25 12:33] #529 closed

[2018-09-25 12:43] rocky commented on #529
Interesting you mention it. What eslint does is use numbers.

See https://github.com/rocky/truffle/blob/truffle-analyze/packages/truffle-core/lib/analyze/mythril.js#L45-L55 and https://github.com/eslint/eslint/blob/master/lib/report-translator.js#L35

It would be great if Mythril would copy/adapt that data structure or have a superset of that.

[2018-09-25 12:46] rocky opened #532 "Issue datatype compatible or closer to eslint's Issue datatype?"
## Description

Adapt elint's issue format in Mythril?

## Background

Now that we will be combining issues from different tools together, it would be great if there were a common Issue format.  See https://github.com/eslint/eslint/blob/master/lib/report-translator.js#L32-L44

[2018-09-25 17:42] norhh commented on #509
Looks like z3, does something while solving the previous constraints which makes it much faster cumulatively over solving all the set of constraints entirely. but we need to use timeouts right, so i am not sure how that changes the results. hence i will be doing some benchmarking before setting up the PR.

[2018-09-26 01:38] roynalnaruto commented on #497
@norhh So how do I allow those paths from `node_modules`? Also, this means Mythril will not be able to analyse a truffle project with contracts inside a directory structure as the `dao-contracts` repository?

[2018-09-26 07:49] JoranHonig opened #533 "SMT abstraction"
## Description
Currently we are directly using z3 objects in laser, and are often directly using the z3 api. This has a few downsides.

- Firstly this makes most of the code dependent on z3, which makes it difficult to plug in another SMT solver which might work better on the specific queries we have in mythril.
- Secondly, at some point we want to start tracking taint in "run time" this would be

[2018-09-26 11:39] norhh commented on #497
i think just the `--truffle` option might do that, I am not totally sure, But the truffle module is currently outdated and we are planning to remove that as we are integrating mythril platform with truffle in the near future.

[2018-09-26 12:02] #491 closed

[2018-09-26 14:05] JoranHonig opened #535 "Constantinople update"
## Description
With constantinople there are a few new opcodes

To support this both the disassembler and laser should adapt to the new opcodes

for reference: https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1013.md

[2018-09-26 17:59] shashank-srikant commented on #505
i see; that's odd. Will check and let you know.

[2018-09-27 02:02] roynalnaruto commented on #497
@norhh the `--truffle` option throws the error that some paths are not allowed (this error is thrown by `solc`). As I have mentioned in [this](https://github.com/ConsenSys/mythril/issues/497#issuecomment-424174460) comment.

[2018-09-27 19:44] norhh commented on #533
@hzzhang , Thats quite interesting, will look into that

[2018-09-27 20:01] JoranHonig commented on #533
@hzzhang That still leaves taint analysis unimplemented

[2018-09-27 20:09] norhh commented on #533
we can implement an interface between pysmt and mythril where we can implement stuff like taint .

[2018-09-28 02:42] hzzhang commented on #533
@JoranHonig  @norhh Agree, another interface would be needed.

[2018-09-29 12:46] norhh opened #537 "Remove all broad exceptions catches in Laser"
## Description
Remove all broad exception catches in Laser.
It is quite terrible when the broad exception catches `NotImplementedError` and does something with that.

[2018-09-29 13:29] #526 closed

[2018-09-29 14:34] JoranHonig opened #539 "Random search strategy"
## Description
Laser currently implements two basic search strategies, namely bfs and dfs.
However from literature we know that other seach strategies can be more effective.

### Requirements

Implentation of three search strategies.
1. Each iteration pick a random element from the worklist
2. Each iteration pick a random element from the worklist but elements that are deeper in the statespace sho

[2018-09-30 05:13] vardhmanandroid2015 opened #540 "Can Mythril be installed on Window 10?"
Description - I tried to install Mythril on Window 10 with Python-3.7.0 with PIP (**pip install mythril**). it download bunch of modules without any issue but got stuck at "    src/python/core.c(2): fatal error C1083: Cannot open include file: 'alloca.h': No such file or directory
    error: command 'C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\VC\\BIN\\x86_amd64\\cl.exe' failed with exi

[2018-09-30 08:11] hzzhang commented on #533
@JoranHonig If no one has already been working on this, I'd like to take it.

[2018-09-30 10:46] norhh commented on #540
hey @vardhmanandroid2015, currently mythril doesn't support windows, Also i don't think we can add a dist package dependency as currently our release is from `python pip`, if there is a way then let us know, it would be awesome :+1: .Best way to use mythril on windows/ubuntu is through docker as there wouldn't be any problems like this.

[2018-09-30 14:30] norhh opened #541 "mythril crashes with an IndexError"
## Description

mythril raises an index error when run on `0x39aca4347248873842ddfb91948aaac3268682bd`contract of mainnet
## How to Reproduce

[code]

## Expected behavior
Contract should be properly executed

## Environment
Please modify for your setup

- Mythril version: master and also `v0.18.12`
- Solidity compiler and version: `0.4.25`
- Python version: `3.6.3`
- OS and Version: Ubuntu 17.10

[2018-09-30 21:09] JoranHonig commented on #533
@hzzhang Go ahead and pick this up :+1:

[2018-10-01 14:45] #540 closed

[2018-10-02 18:53] JoranHonig commented on #517
@b-mueller Yes and no, #513 addresses system tests (testing all the components of mythril), while this is more about component tests of the analysis modules

[2018-10-02 19:17] JoranHonig commented on #403
Update: Only revert still needs to be implemented

[2018-10-04 19:46] nbanmp commented on #523
We don't necessarily have all the data we need from the solver. To generate a test case, we'd need to add a few more constraints. Most importantly: `caller` and `value`. One cannot send ether from any wallet, nor can they send an unlimited amount of ether.

[2018-10-05 14:45] norhh commented on #539
@JoranHonig can you elaborate on what to do when an open state is reached?

[2018-10-05 20:41] b-mueller opened #543 "Add command line option to configure number of transactions executed"
## Description

As a user, I'd like to specify the "transaction depth", i.e. the number of transactions executed. For example:

[code]

[2018-10-06 00:00] nbanmp commented on #528
I could probably look into this next week, as it is almost a necessity for #523.

[2018-10-06 15:05] #532 closed

[2018-10-07 17:10] norhh commented on #470
Dependence on predictable environment variable means dependence on timestamp, blockhash etc for sending `ether>0`.
in this case the modifier uses `now` right? that's what gives out the timestamp of block.
timestamp can be manipulated by miner to some extent by a few seconds,

[2018-10-07 17:10] #470 closed

[2018-10-07 17:52] norhh commented on #454
I think a part of this is fixed by #460 and regarding the unchecked call retval, there wasn't any check after a call was being made in the code, so i think it should be fine.

[2018-10-07 17:52] #454 closed

[2018-10-07 19:40] msayyad opened #546 "myth: command not found"
after doing steps for installing mythril, ubuntu shell will show error and cant find it:

hex0r@ubuntu:~$ myth
myth: command not found

[2018-10-07 19:49] dmuhs commented on #546
Did you install Mythril using `pip3`?
In that case on Ubuntu your binary should be located in `/home/<username>/.local/bin/myth`. With `echo $PATH` you can output your current path variable to make sure that the path contains the local bin directory.

[2018-10-08 03:24] b-mueller opened #548 "Wrongly reported function name"
## Description

Mythril reports bugs to be located in the fallback function on some occasions, even though they are located in a regular function.

## How to Reproduce

[code]

The integer overflow in line 12 is in `donate`, not `fallback`:

[code]

## Expected behavior

The correct function name should be reported.

## Environment

Please modify for your setup

- Mythril version: Master
- Solidit

[2018-10-08 18:11] JoranHonig opened #550 "Mappings for multiple contract files"
Currently a SolidityContract object only gathers/stores mappings for a single source file, in order to do correct issue reporting for multiple file contracts we need to add support for this in the SolidityContract class.

See also #480

[2018-10-08 18:44] JoranHonig commented on #453
I'm putting vmLogTests on ignored for now as laser doesn't implement log instructions

[2018-10-09 08:14] msayyad commented on #546
i install it using pip3. i run mythril from /.local/binmyth but get error

[2018-10-09 09:48] dmuhs commented on #546
This seems to be an issue with the typing of Python 3.5. Can you provide the output of `python3.5 -V`? There might be typing issues with versions below Python 3.5.3.

[2018-10-09 16:04] norhh commented on #550
Yeah, but currently `SolidityContract` class just takes a single file for whatever input right?

[2018-10-09 21:16] JoranHonig opened #556 "Refactor: Remove unused Calldatatype"
## Description
It seems like the calldatatype variable is not really used anymore:
[code]

### Requirements
- Verify that calldatatype is indeed unused
- Removal of calldata_type variable
- Removal of CalldataType enum

[2018-10-11 04:53] maxsam4 commented on #497
I am on version 0.18.12 and I am facing this issue as well with `--truffle`.

[2018-10-11 06:35] norhh commented on #497
Yeah the ‘—truffle’ option is broken

[2018-10-11 14:57] adamskrodzki commented on #523
Hi,
what I need to do to get access to Your platform, to be able to work on that issue?

[2018-10-11 15:05] #541 closed

[2018-10-11 16:24] rajeshsubhankar opened #562 "mythril installation is failing on macOS Mojave"
## Description

`pip3 install mythril` is failing after the latest `mac os` update.

## How to Reproduce

`pip3 install mythril`
[code]

## Environment

- Solidity compiler and version: `0.4.25+commit.59dbf8f1.Darwin.appleclang`
- Python version: `3.6.4`
- OS and Version: `Mac OS Mojave`(10.14)

## Additional Environment or Context

A reference from [stackoverflow](https://stackoverflow.com/questi

[2018-10-11 17:02] norhh commented on #562
Hi @rajeshsubhankar,  Can you try using mythril's docker image.That should hopefully work

[2018-10-11 17:14] norhh commented on #562
seems to be problem with `plyvel` python leveldb wrapper. can you try doing
`pip install plyvel=1.0.5`  and then retry installing mythril.

[2018-10-12 01:55] hzzhang commented on #533
![](https://github.trello.services/images/mini-trello-icon.png) [Add SMT abstract layer for Mythril OSS](https://trello.com/c/do9uht3s/55-add-smt-abstract-layer-for-mythril-oss)

[2018-10-12 06:12] b-mueller commented on #523
Hi @adamskrodzki, thanks for asking! This issue has a [Gitcoin bounty](https://gitcoin.co/issue/ConsenSys/mythril/523/1399) attached to it which you'd have to apply for. However, it has already been assigned to @nbanmp. We currently don't have any bounties open.

If you're interested in our platform, please join the Mythril community on [Discord](https://discord.gg/kktn8Wt). Our beta is starting o

[2018-10-12 09:09] rajeshsubhankar commented on #562
Unfortunately `CFLAGS='-mmacosx-version-min=10.7 -stdlib=libc++' pip3 install plyvel` did the trick.

[2018-10-12 09:53] #562 closed

[2018-10-12 09:53] norhh commented on #562
great

[2018-10-12 13:55] nbanmp opened #563 "Memory Implementation should be a byte array"
In mythril, memory is indexed by byte, but a 256-bit word is stored at the indexed location of memory when that memory location is accessed. It should be indexed by byte, and an 8-bit byte should be stored at each byte.

## Example:
Current implementation:
[code]

Possible correct implementation:
[code]

[2018-10-12 17:12] nbanmp commented on #527
I'm still here. Just trying to get the updated calldata working well before I add calldatasize constraints.

[2018-10-12 20:19] norhh opened #564 "Integrate mypy into tests"
## Description
Integrate mypy into the tests. Mypy can be used to verify type checking.
But first I think we need to write all the types for functions parameters and return types.

### Requirements
- On each pr to develop and master type checking is performed and the results are reported

[2018-10-13 01:35] Arwinjd opened #565 "Mythril Installation Error on Ubuntu"
I'm installing Myhtril via pypi on Ubuntu 18.04 and I keep getting this error:

`pip3 install mythril
Collecting mythril
  Using cached https://files.pythonhosted.org/packages/f8/46/c8cac9bf90cbdd7a63125446ba0f96e17c423317d3d589cabbe418e24507/mythril-0.18.12.tar.gz
Requirement already satisfied: configparser>=3.5.0 in /usr/local/lib/python3.6/dist-packages (from mythril) (3.5.0)
Requirement alread

[2018-10-13 03:48] b-mueller opened #566 "SpankChain LedgerChannel contract: No contract created"
## Description

Contract creation fails when analyzing the SpankChain smart contract.

## How to Reproduce

Run myth on code taken from [EtherScan](https://etherscan.io/address/0xf91546835f756da0c10cfa0cda95b15577b84aa7#code).

[code]
## Expected behavior

Analysis should run successfully.

[2018-10-13 04:54] norhh commented on #566
I think this was fixed on the latest commit from master by @p0n1 .but for some reason the contract doesn't get created, that should probably be checked.

[2018-10-13 10:35] b-mueller commented on #566
@norhh you're right, my local repo wasn't synced up. I updated issue name & description.

[2018-10-13 10:39] b-mueller commented on #566
Coloredlogs are awesome 👍

Looks like the creation byte code hits a revert

[code]

[2018-10-13 13:01] dmuhs commented on #550
@norhh That's correct. I think what @JoranHonig is getting at here is the limitations resulting from the `SolidityContract` class only being able to hold a single file. That's why we do things [like this](https://github.com/ConsenSys/mythril/blob/master/mythril/mythril.py#L326-L333), where it could actually be handled by the class itself.

It probably would be nice to have all source maps in one p

[2018-10-13 15:51] dmuhs commented on #550
So in my understanding, the `SolidityContract` class should hold all input files and their respective source mappings instead of having a list of contract classes on the outside. So assuming a call like `./myth -x test1.sol test2.sol` the `load_from_solidity` function around [here](https://github.com/ConsenSys/mythril/blob/master/mythril/mythril.py#L344) should not return a contract list like
`[<S

[2018-10-13 16:58] norhh commented on #550
If there are imports then we would pass that path as a solc args for compiling, so there wouldn't be any difference if we treat them as separate contracts as solc will take care of taking in all the imports

[2018-10-13 16:59] dmuhs commented on #566
The point where the `REVERT` happens has `node.function_name` set to `constructor`. It `LedgerChannel` doesn't have an explicit constructor, but maybe it's triggered by something like this
[code]
which initializes the `HumanStandardToken` contract. The output of `./myth -x spank.sol:HumanStandardToken` is
[code]
and looking at it with `-v2` shows the same opcode order:
[code]

When I try to furthe

[2018-10-13 20:00] JoranHonig commented on #550
Let me start out with that I think I made a mistake and what I thought was a problem isn't actually one :sweat_smile:
On the other hand, here is the weird thing. The class does maintain a list with solidity files, while it only accepts a single solidity_filename as an argument.

[2018-10-13 21:06] JoranHonig commented on #566
https://github.com/ConsenSys/mythril/pull/568 Fixes the problem, with contract creation.
I'm now looking at the reentrancy itself

[2018-10-13 22:15] JoranHonig opened #570 "Refactor of Interfaces"
Both mythril.interfaces.cli and mythril.mythril are messy at the moment, this should be cleaned up

Additionally test coverage for mythril.mythril should be increased

[2018-10-14 12:30] mmhh1910 commented on #516
As far as I can see the false positive is reported, because there is no constraint for "caller != creator" in ether_send.py, like there is e.g. in suicide.py.

[2018-10-14 17:53] JoranHonig opened #572 "Add max transaction count as parameter"
## Description
Currently laser does dynamic transaction issuing, with a hard limit at 3 transactions. This limit should be configurable through the cli

### Requirements
[code]
This should run laser using a max transaction count limit of 5

[2018-10-14 17:54] JoranHonig commented on #572
Implementation will be very similar to the timeouts and calldepth parameters

[2018-10-14 17:59] JoranHonig commented on #543
Closing this because the laser can now detect by itself if it should execute more transactions.
However we still want to set an upper limit, #572 is an issue that describes what needs to be implemented

This issue is therefore out of date. @b-mueller fun fact, the limit is now set at 3 so your example works for the current master!

[2018-10-14 17:59] #543 closed

[2018-10-14 18:02] JoranHonig commented on #516
@mmhh1910 Yes you are right! almost have a fix ready ^^'.
This issue is closely related to #515, and is caused by recent changes/improvements in laser.

[2018-10-14 18:10] #403 closed

[2018-10-15 02:42] b-mueller opened #574 "IndexError on token.sol"
## Description

Mythril terminates with and `IndexError` on the following input code:

[code]

## How to Reproduce

[code]

## Environment

- Mythril version: Master
- Solidity compiler and version: 0.4.24+commit.e67f0147.Darwin.appleclang
- Python version: 3.6.3
- OS and Version: Mac OS Mojave

[2018-10-15 02:53] b-mueller commented on #574
Probably related to #566, #568:

[code]

[2018-10-15 02:59] b-mueller commented on #566
With #568 applied I get the same `IndexError` mentioned in #574:

[code]

[2018-10-15 03:08] thec00n opened #575 "Use SWC-registry exports for issue reporting"
## Description

It be great to align Mythril terminology e.g. weakness title to the one used in the SWC-registry. We now export all SWC definitions as a json file to a fixed location in the SWC-registry https://raw.githubusercontent.com/SmartContractSecurity/SWC-registry/master/export/swc-definition.json. Every new commit to master updates the json file.

Consider fetching the json file from the m

[2018-10-15 03:08] b-mueller commented on #574
This is what I get with patch #568 applied:

[code]

[2018-10-15 12:56] JoranHonig opened #576 "Pass creation bytecode to mythril"
Currently laser does model the creation of a contract, when dealing with SolidityContracts.
When using the command line option -c, mythril will still consider this to be runtime bytecode. An option needs to be added to support creation bytecode

### Requirements
 - Add cli option for creation bytecode
 - Adapt current cli "help" strings to this change
 - Change the analyis.symbolic so that the byt

[2018-10-15 16:29] nbanmp commented on #528
Yup.

[2018-10-15 17:04] #572 closed

[2018-10-15 17:32] suhabe opened #577 "Mythril does not return on StandardBounty.sol after several hours"
Mythril does not return on StandardBounty.sol after several hours:
https://github.com/Bounties-Network/StandardBounties/blob/develop/contracts/StandardBounty.sol

[code]

[2018-10-15 20:19] gsalzer opened #580 "Example in Wiki/CFG looks markedly different from graph generated by myth; missing option?"
## Description

The [wiki gives an example for a cfg](https://github.com/ConsenSys/mythril/wiki/Control-Flow-Graph)  and links to [http://htmlpreview.github.io/?https://github.com/b-mueller/mythril/blob/master/static/mythril.html](http://htmlpreview.github.io/?https://github.com/b-mueller/mythril/blob/master/static/mythril.html) for the full graph. This graph has the property that the code after a

[2018-10-15 23:57] Arwinjd commented on #565
I ran that and this is what I got:

`sudo apt-get install python3-dev`
`Reading package lists... Done`
`Building dependency tree`
`Reading state information... Done`
`Some packages could not be installed. This may mean that you have`
`requested an impossible situation or if you are using the unstable`
`distribution that some required packages have not yet been created`
`or been moved out of Incomi

[2018-10-16 06:18] norhh commented on #565
Argh! some serious dependency issue. In that case can you try using our docker image?

[2018-10-16 13:58] Arwinjd commented on #565
@norhh I will try that and get back with you!

[2018-10-16 21:35] norhh opened #584 "Eliminate Race conditions for signatures"
## Description
Switch to using a db or some better locking libraries.

## Background
occurence of the race condition :- https://circleci.com/gh/ConsenSys/mythril/1110 ,
good thing is that the race condition might not be that common.

[2018-10-16 21:43] #537 closed

[2018-10-17 03:43] b-mueller commented on #566
This now works for me with Mythril master (however the problem described in #574 still persists).

[2018-10-17 03:43] #566 closed

[2018-10-17 03:46] b-mueller commented on #574
Interesting observation: Running `myth` on `soldity_examples/suicide.sol` returns the exact same debugging output and I end up with `4 nodes, 3 edges, 19 total states`:

[code]

[2018-10-17 07:44] mmhh1910 commented on #548
There are still cases when the fallback function is reported instead of the function name.

This happens when  the instruction is not matched by `asm.find_opcode_sequence([("PUSH1", "PUSH2", "PUSH3", "PUSH4"), ("EQ",)],self.instruction_list)`, because there is an additional DUPx opcodes between PUSH and EQ.

Conract 0x71d1f21d487e569257d5128bcf04a96ae9b14811 shows the problem wit function getETH()

[2018-10-17 10:52] JoranHonig commented on #576
@mmhh1910 The creation code is actually executed in Laser, running the creation code as a creation transaction will result in a created contract with the runtime bytecode

[2018-10-17 11:17] norhh opened #586 "Remove the -l flag dependency for the onchain contract lookup"
## Description
currently -l flag is being used for getting onchain data of mythril, which might lead to confusion.so remove that dependency.

[2018-10-17 15:14] mmhh1910 opened #590 "Online signature lookup should be off by default"
## Description

It is not transparent to the user that mythril does online signature lookups against https://www.4byte.directory/. For privacy reasons, this should be off by default and there should be a command argument in cli.py to enable the lookups.

I can create a PR for this, but would like to discuss it first.

[2018-10-17 15:49] norhh commented on #590
function signature is just some number like `0x5ab31` right? would anyone hate to send it to a thirdparty?
Also that feature doesn't work unless `ethereum_input_decoder` is present which is optional.I think that should be mentioned as a warning to the user while mythril is executing and it hasn't found the library.
It's up to the user to whether to download it or not as it isn't listed in the depe

[2018-10-17 16:02] #574 closed

[2018-10-17 16:39] mmhh1910 commented on #590
I didn't realize that ethereum_input_decoder needs to be installed for online lookups to work. With that I do not see a huge privacy problem any longer.

[2018-10-17 16:52] mmhh1910 commented on #590
What do you think about this:

- Add ethereum_input_decoder to requirements.txt, so e.g. it will be available in the Docker container
- Add an cli flag which needs to be set to enable online lookups

[2018-10-17 16:58] norhh commented on #590
etheereum_input_decoder was leftoff because everyone decided on not having many dependencies for the project, if the flag is on and ethereum_input_decoder isn't present then let's raise a warning saying it doesn't work unless this is installed.

[2018-10-17 17:01] #363 closed

[2018-10-18 08:01] #531 closed

[2018-10-18 08:18] norhh commented on #586
@b-mueller , can you try it with the -l flag? currently it looks like the contract is killed as I am getting a None response for the code.

[2018-10-18 15:21] norhh commented on #448
Hey @shashank-srikant I am closing this as this has become stale, If the problem still persists then you can just reopen this issue.

[2018-10-18 15:21] #448 closed

[2018-10-18 15:28] b-mueller commented on #586
Hey @norhh, yep, that fixed it :) As discussed, we I suggest making retrieving storage locations the default behavior when on-chain contracts are analyzed.

[2018-10-18 19:06] dmuhs commented on #546
@msayyad Any update on the issue?

[2018-10-19 03:37] nbanmp commented on #523
I'm here @gitcoinbot

[2018-10-19 06:51] H34D opened #597 "File outside of allowed directories"
## Description

If i run myth on our truffle project i get `File outside of allowed directories`.

[code]
I am using the most recent version 18.12. It was working with 18.11.

$ myth -V
Mythril version v0.18.12

## How to Reproduce

clone
`https://github.com/oceanprotocol/keeper-contracts`

run
`myth -x --truffle`

I also tried --sold-args "--allow-paths xxx" but got the same results.

## Expected

[2018-10-19 08:02] norhh commented on #597
Can you try it with the master version of mythril, I think this was fixed previously but not in the release yet.

[2018-10-19 08:13] H34D commented on #597
Using:

$ git rev-parse --verify HEAD
cf7c5cfaaa25a1e66bd6ce3d775c5cbbb3b6a096

yielding:

[code]

[2018-10-19 13:39] nbanmp commented on #527
@gitcoinbot https://github.com/ConsenSys/mythril-classic/pull/557 now correctly achieves this.

[2018-10-20 17:16] dmuhs commented on #520
According to the [beige paper](https://github.com/chronaeon/beigepaper), there are three cases that influence the gas value:
- computation of an operation
- payments for subordinate message calls/ contract creations
- an increase of memory usage

With the latter, there's also an option to be reimbursed if your transaction frees up storage. This excess value is added to the unused gas value at the

[2018-10-20 17:21] dmuhs opened #599 "Provide an automated way of keeping the code style consistent"
## Description

Provide a pre-commit hook or another automated way to format the code according to a style guideline whenever a developer touches the code.

## Background

There are various parts of the Mythril Classic code base that have vastly different styles - some of them violating PEP8. A code formatter such as [Black](https://github.com/ambv/black) can gently reformat the code guaranteeing

[2018-10-21 17:11] jeamick commented on #599
Hello @dmuhs ,

Do you mean to get people like before their code the run Black lib to format their code?
Or do you want to have this directly integrated?
So when someone is committing something, his code is "automatically" formatted and he gets the errors logs?

thanks

[2018-10-21 17:50] jeamick commented on #459
did the api has been launched?

[2018-10-22 12:33] JoranHonig commented on #599
Can't we have a CI step that tells you if there are any violations in the added code, and you can only merge the pr if there are no violations?
Basically like the unit tests need to be satisfied too

[2018-10-22 12:38] norhh commented on #459
@jeamick , it's still in progress, let's remove this after the truffle integration, which might be done in a month.

[2018-10-22 13:47] JoranHonig opened #601 "Setup Read The Docs for Mythril"
## Description
For maintainability and ease of development we require solid and available documentation, one part of that is putting the docs somewhere where they are easily accessible like ReadTheDocs

This issue is meant to start the discussion on if ReadTheDocs is the best place for this, and to track progress

[2018-10-22 13:50] JoranHonig commented on #459
Well, the API release isn't until the first of March. Lets not remove anything until that point

[2018-10-22 14:39] dmuhs commented on #599
That's an option:
[code]

So we could simply add it as a dependency, run a check with `black --check .` and let the test fail if anything would be reformatted

[2018-10-22 16:30] ecouffes commented on #497
On version 0.18.11, "--truffle" option works well with both Docker and Mythril installed with pip on Mac.

[2018-10-22 18:41] dmuhs commented on #599
Black itself doesn't have a ton of style rules as it mostly fixes redundant brackets, line-breaks or indentation. You can set the max line length, skip replacing single- with double-quoted strings, or numeric underscores like converting `5000000` to `5_000_000` for readability. I could create a branch with black (and some CI stuff) enabled and you can get an impression of the changes. I did it loc

[2018-10-23 05:46] roynalnaruto commented on #497
@ecouffes

Yea, it works on my Mac too, but not on Ubuntu.
@norhh any updates on this issue?

[2018-10-23 10:13] norhh opened #604 "Add the solver to the Constraints class after callback refactor"
## Description
Currently with #534 the Constraint class will have a dummy solver variable, Add the constraints to the Solver() after #226

[2018-10-23 10:48] msayyad commented on #546
@dmuhs i install python 3.5.5 from source and try with pip3 but this erorr

    error: could not create '/usr/local/lib/python3.5/site-packages/pycparser': Permission denied

    ----------------------------------------
Command "/usr/local/bin/python3.5 -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-e3wncqpq/pycparser/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read()

[2018-10-23 11:21] norhh opened #605 "Fix solc-args when using --allow-paths"
## Description
using --solc-args isn't working for any contracts when imports are happening.

## Bug
Run `myth --solc-args '<some arg related to allowed paths>' <filename with an import>`
results in an error.

[2018-10-23 12:25] norhh opened #607 "fix --solc-args for truffle"
## Description
truffle option isn't working for solc-args, for more info refer #497

[2018-10-23 12:49] #605 closed

[2018-10-23 12:58] JoranHonig commented on #548
@mmhh1910
For now I'd say that having two find_opcode_sequence calls isn't really a problem (if it stays limited to ~ patterns)

[2018-10-23 13:02] norhh commented on #607
@roynalnaruto can you check it with the current master, i think this was fixed 2-3 days back?

[2018-10-23 13:07] norhh commented on #548
@JoranHonig , some other opcode might also come before PUSH and EQ sequence right? like how @mmhh1910  showed that how DUP comes in between them, so I think it might be good to try out something which isn't heavily compiler dependent.

[2018-10-23 13:45] dmuhs commented on #546
@msayyad This seems to be less of an issue connected to Mythril but rather a permission issue with your Python installation. Please [check](https://github.com/googlesamples/assistant-sdk-python/issues/236) out [other](https://github.com/pypa/pip/issues/4186) solutions [for](https://stackoverflow.com/questions/31512422/pip-install-r-oserror-errno-13-permission-denied) that [problem](https://stackov

[2018-10-23 14:32] JoranHonig commented on #253
Closing this as a duplicate of #575

[2018-10-23 14:32] #253 closed

[2018-10-23 14:52] JoranHonig commented on #575
@norhh Just to make sure you haven't missed this: We're going to delay the development of this until there is a python SWC package to easily interface with mythril

[2018-10-23 15:02] #580 closed

[2018-10-23 22:55] Arwinjd commented on #565
@norhh everything appears to be working well with Docker, but I'm following the instructions to pass a file to the dockerized Mythril. When I run the following code, I get this:

`sudo docker run -v $(pwd):/tmp mythril/myth -x /tmp/ether.sol`
`Solc experienced a fatal error (code 1).`
`/tmp/ether.sol:41:5: Error: Expected ';' but got '}'`
   ` }`
    `^`

What could be causing this? I created an e

[2018-10-24 09:40] norhh commented on #565
@Arwinjd , can you send whats there in the lines 40, 41, 42

[2018-10-24 16:41] norhh commented on #607
or the latest version of `v0.18.13`

[2018-10-24 18:39] Arwinjd commented on #565
Sure, on lines 40, 41, 42, of the ether.sol file, it contained this:
`_`
   `}`
    `// multi-sig function modifier: the operation must have an intrinsic hash in order`

[2018-10-24 19:13] JoranHonig opened #614 "Calldata serialization slowdown"
The implementation of #557 results in a serious slow down in the serialization of a report. This should be resolved before the functionality can be released.

[2018-10-24 20:56] norhh commented on #565
there should "_;" right? in line 40

[2018-10-25 03:13] ryan-shea commented on #528
@nbanmp Ryan from Gitcoin here. How is this coming along? Do you have any questions? Happy to help 😃 🎉

[2018-10-25 08:54] b-mueller opened #616 "Mythril misses assert violation"
## Description

I tried to "cheat" on one of the [CaptureTheEther](https://capturetheether.com) challenges by adding an assert to have Mythril output the desired value. See first line in ` function buy(uint256 numTokens)`:

[code]

However Mythril fails to detect that the condition can be violated (i.e. `numTokens * PRICE_PER_TOKEN` can overflown to 0).

## How to Reproduce

[code]
## Expected beh

[2018-10-25 11:38] nbanmp commented on #528
@ryan-shea It's ready to be merged now. Almost done! https://github.com/ConsenSys/mythril-classic/pull/615

[2018-10-25 12:43] JoranHonig commented on #616
@b-mueller There is no assert module, do you mean -mexceptions ?

[2018-10-25 12:59] b-mueller commented on #616
Ahahaa... I should get more sleep...

[2018-10-25 12:59] #616 closed

[2018-10-25 15:55] norhh commented on #616
In that case it might be good for mythril to throw an exception right?

[2018-10-25 16:39] #599 closed

[2018-10-25 18:15] #528 closed

[2018-10-25 18:16] #527 closed

[2018-10-27 06:19] b-mueller opened #628 "Update issue descriptions"
## Description

Update the first line of issue descriptions to remove references to function name and create more reasonable output in the current truffle+analyze and Guardrails prototypes. Specifically, remote references to the function name and shorten the descriptions:

**suicide module:**

"A reachable SUICIDE instruction was detected."

**integer module:**

Overflow:

"The arithmetic operatio

[2018-10-27 11:54] rocky commented on #628
One thing to keep in mind for error messages in general. Some report formats like eslint's "stylish" (the default format for a number of reports), are limited in space: all information has to appear on a single line.

Here is a suggestion that I hope we discuss in conjunction with the "standard" issue format thing. Separate a warning into a Summary, followed by whatever elaboration is needed. Howe

[2018-10-27 12:16] b-mueller commented on #628
Sure, makes sense. I'll move these suggestions to the Maestro board.

[2018-10-27 12:41] #628 closed

[2018-10-27 12:44] b-mueller opened #630 "NameError: name 'state' is not defined"
## Description

Mythril crashes with a `NameError` on the example file `etherstore.sol`.

## How to Reproduce

[code]

## Environment

- Mythril version: output from  Master
- Solidity compiler and version:  0.4.24+commit.e67f0147.Darwin.appleclang
- Python version: 3.6.3
- OS and Version: Mac OS Mojave

[2018-10-28 14:48] b-mueller opened #633 "Mythril not reporting state change after external call"
## Description

Mythril fails to report state changes after external calls. Usually, such changes should be reported by the [external_calls module](https://github.com/ConsenSys/mythril-classic/blob/develop/mythril/analysis/modules/external_calls.py)  (line 152-179).

## How to Reproduce

[Example 1](https://github.com/ConsenSys/devcon4-playground/blob/master/exercise3/contracts/Etherbank.sol):

[c

[2018-10-28 15:18] b-mueller opened #634 "Mythril not reporting overflow in requires"
## Description

Mythril fails to MUL overflows in the [Tokensale sample](https://github.com/ConsenSys/devcon4-playground/blob/master/exercise1/contracts/Tokensale.sol).

[code]

At least one overflow exists in line 16:

[code]

Output from Mythril master:

[code]

Output from Mythril 0.8.13:

[code]

## Environment

- Mythril version: Master and 0.18.13
- Solidity compiler and version: 0.4.24+comm

[2018-10-28 16:32] JoranHonig commented on #634
Uhm, this is intended behaviour I think, there are no significant usages of the overflowed value (except the requires JUMPI, which we intentionally ignore)

Take the following contract:
[code]

Where the overflow is reported (bc its being used to SSTORE)

[2018-10-28 17:59] #516 closed

[2018-10-28 18:13] #590 closed

[2018-10-29 08:18] b-mueller opened #640 "False negative on wrongly named constructor"
## Description

Mythril fails to report a reachable SUICIDE instruction due to wrongly named constructor in [this sample](https://github.com/ConsenSys/devcon4-playground/blob/master/exercise4/contracts/Ownable.sol). Code:

[code]

## How to Reproduce

[code]

## Expected behavior

Mythril should report the reachable SUICIDE and ideally provide the transaction sequence:

1. call Owmable()
2. call k

[2018-10-29 08:33] #633 closed

[2018-10-29 13:35] JoranHonig commented on #640
I think this is something that solidity does to protect you from yourself. (if the function name is close enough to Ownable it doesn't seem to create the function)

For the exercise you can just name it Owmership

[2018-10-29 13:44] #630 closed

[2018-10-29 18:08] nbanmp opened #643 "User-defined constraints"
Pass command line arguments to constrain the caller(s) and maximum callvalues for transactions. Perhaps `--caller 0xcaller1,0xcaller2...etc` and `--max-callvalue 100`? The first one adding the constraint `Or([transaction.caller == caller for caller in callers])` and the 2nd one adding the constraint `UGE(max_callvalue, transaction.callvalue)`

This will ensure that the vulnerabilities can be acces

[2018-10-30 14:51] norhh commented on #586
@b-mueller , should we add a flag to disable the storage lookup then?

[2018-10-30 18:32] b-mueller opened #645 "Set default for --max-tx-count to 1"
## Description

Set default maximum tx count to 1. IMO this makes  sense with the current architecture because 2 tx causes a large slowdown, while we detect 80% of SWC vulns with single tx (I just invented that number but it should be about right).

Once we have optimized performance, refactored to callbacks, and have a configurable timeout, we can switch the default back to multi-tx.

From a usab

[2018-10-30 19:21] #634 closed

[2018-10-31 12:13] #645 closed

[2018-10-31 12:13] JoranHonig commented on #645
This has been fixed

[2018-10-31 15:12] norhh opened #651 "Mythril raises a KeyError for a contract"
## Description
Mythril raises a KeyError when run with contract `0x8601e58163C2713B06b40a2000A30FF4A988e926`

## How to Reproduce
[code]

## Expected behavior
Contract should be executed without any errors

## Environment

- Mythril version: develop
- Solidity compiler and version: `0.4.25`
- Python version: `3.6`
- OS and Version: Ubuntu 17.10

[2018-10-31 17:16] norhh opened #652 "Mythril on a specific solc version isn't working"
## Description
Currently mythril doesn't pass solc binary parameters to other functions, which makes execution of some contracts with fixed solc version fail.

## Screenshot
![bug_report](https://user-images.githubusercontent.com/15844703/47805968-98802780-dd5e-11e8-8eb6-ac5abd2ff8f2.png)

[2018-10-31 17:23] nbanmp commented on #651
I'll take care of this.

[2018-11-01 20:53] pierce403 opened #661 "AttributeError: 'BitVecRef' object has no attribute 'as_long'"
## Description

## How to Reproduce

[code]

From https://github.com/ConsenSys/devcon4-playground/blob/master/exercise2/contracts/Tokensale.sol

## Expected behavior

Should output solidity bugs rather than python bugs.

## Environment

[code]

[2018-11-02 11:51] #652 closed

[2018-11-02 13:19] TlxTejaswi opened #662 "List of smart contract vulnerabilities detected by Mythril"
I would request the group members to help me with a complete list of the smart contract vulnerabilities detected by Mythril.

[2018-11-02 17:16] b-mueller commented on #661
@pierce403 can you post the `pip freeze` output? Maybe is has something to do with the Z3 version.

[code]

is also weird, even though you seem to be running Mythril on Python 3.6.

[2018-11-03 07:52] cleanunicorn opened #663 "Import has inconsistent behavior with `constructor()` when importing"
## Description

Importing a solidity contract having a constructor with arguments returns the error
`input files do not contain any valid contracts` when running `myth -x ./contract.sol`

## How to Reproduce

I've got 3 examples that I think are relevant for this issue.

### 1. Import problem

Create `test1base.sol`

[code]

And `test1.sol`

[code]

Running mythril on `test1.sol` outputs an error

[2018-11-03 18:19] norhh commented on #565
@Arwinjd can you try compiling the contract with solc?

[2018-11-03 18:35] norhh commented on #661
The TypeError should actually get caught in the version 0.19.3 .
https://github.com/ConsenSys/mythril-classic/blob/036278502a43a4b8d03e8a1cfcf666878f034e04/mythril/analysis/modules/transaction_order_dependence.py#L126

Also by looking at the line numbers it seems you are running mythril version v0.18.13. Can you try creating a virtual python environment and then installing the mythril version v0.1

[2018-11-03 18:41] norhh commented on #662
This is in some way a [list](https://github.com/ConsenSys/mythril-classic/wiki/Mythril-Detection-Capabilities) of all the vulnerabilities with mythril. If the detection module column is present for that vulnerability then you can consider that mythril detects it.But yes there are some minute exceptions in that.

You can also look into this interesting paper [Smashing smart contracts for fun and re

[2018-11-03 20:34] Arwinjd commented on #565
@norhh , how would I do that? Are there instructions posted somewhere?

[2018-11-03 21:14] norhh commented on #565
just try `solc <filename>` or `solc --bin <filename>`

[2018-11-04 16:36] Arwinjd commented on #565
I'm fairly certain that I've installed everything correctly. Here's what I got when I input the info:

`$ solc <company.sol>`
`bash: syntax error near unexpected token "newline"`
`$ solc --bin <company.sol>`
`bash: syntax error near unexpected token "newline"`

[2018-11-05 05:22] b-mueller opened #665 "Incorrect behavior in on-chain analysis"
## Description

Mythril behaves incorrectly when analyzing an on-chain instance of [Ownable.sol](https://github.com/ConsenSys/devcon4-playground/blob/master/exercise4/contracts/Ownable.sol) as opposed to the source code.

## How to Reproduce

Analyzing the source produces the correct transaction sequence (call `Ownab1e()`, the `kill()`):

[code]
Running against an instance deployed on Ropsten seem

[2018-11-05 08:16] norhh commented on #665
looks like multiple transactions aren't executed for onchain contracts, thats one bug as that doesn't seem to fix this.

[2018-11-05 08:52] b-mueller commented on #665
In that case, the SUICIDE shouldn't be detected at all?

[2018-11-05 09:20] norhh commented on #665
yeah, but mythril is saying that as the contract is uninitialized then owner = 0x0 so if the caller is 0x0 then you can execute suicide.

[2018-11-05 10:03] b-mueller commented on #665
Ohh ok, so Mythril is actually right 🤣

How about we set the caller to a random address then?

[2018-11-05 11:17] norhh commented on #665
It seems that was already taken care of, but there is a small mistake while taking care of that for onchain contracts.

[2018-11-05 14:00] nbanmp commented on #417
[code]
Is the logic missing a case like this? The result is never used except in a transfer.

[2018-11-05 16:09] rocky opened #668 "In SWC-110 report: specify which arithmetic operation is used in integer overflow."
## Description

Right now for underflow we indicate the operation, e.g. subtraction that underflows. We should also do the same for overflow.

(The general principle is to make sure the first sentence is a more detailed, not generic, summary.)

## Background

For this code:

[code]
this message is reported:

Better would be to specify _which_  operator `+`, `*`, or `**` overflows. As follows:

##

[2018-11-06 02:35] b-mueller opened #670 "Make Z3 timeout configurable"
## Description

The solver timeout is currently set to 30 seconds. Add a command line feature that allows the user to override this setting.

## Background

I'm trying to solve a difficult assertion that takes longer than 30 seconds to solve. Currently, there is no option to increase the timeout for the solver.

[2018-11-06 11:41] norhh opened #671 "Tests should just check for swc id"
## Description
Tests in CI should just check for swc-id

[2018-11-06 12:47] #576 closed

[2018-11-06 14:14] JoranHonig commented on #671
This is in reference to: https://github.com/ConsenSys/mythril-classic/pull/669

The problem that seems to be that changes in the description of an issue make tests fail and its difficult to update the expected outputs. Limiting the tests to only check for the swc id would solve this problem.
However, the report_tests cover a different aspects:
- report generation (json, markdown, text).
- vulnerab

[2018-11-06 21:21] norhh commented on #597
Hi @H34D, there is something weird happening with solc, as it isn't properly taking the files in different directories.
A best solution now is to concatenate all the sol files and run mythril in one go on the concatenated file.

[2018-11-07 08:00] b-mueller opened #672 "EPIC: High-priority issues"

[2018-11-07 08:01] #672 closed

[2018-11-07 08:05] #227 closed

[2018-11-07 08:09] b-mueller commented on #240
This is superseded by #513.

[2018-11-07 08:09] #240 closed

[2018-11-07 08:22] b-mueller opened #673 "Add option to specify maximum total execution time"
## Description

Add an option to specify maximum overall runtime in seconds. Mythril should terminate after the specified time and return all issues discovered as well as the number of transactions executed and code coverage achieved.

## Background

This feature is needed for usability reasons. For example, during SDLC, users might want to run best-effort security analysis that run no longer than

[2018-11-07 09:20] norhh commented on #232
This depends on callback refactor after that we can add a solver per each branch and then this should be done. One reason is because there might be some other set of constraints which aren't transitive dependent but are unsatisfiable, making the entire equation unsat,
Also tried a prototype which eliminated non transitive constraints which resulted in slowing down of mythril by many folds.

[2018-11-07 17:21] #586 closed

[2018-11-07 17:48] #665 closed

[2018-11-07 18:10] b-mueller opened #674 "Slightly wrong concrete transaction data in multi-tx & multi-contract (delegatecall) scenario"
## Description

Running Mythril on a relatively complex example appears to detect the correct bug, but returns slightly wrong concrete transaction data to reach it. Here is the code:

[code]

Wallet is deployed on Ropsten with address [0xc2e75b81d21831c3bf6a739c3b1495c33045d258](https://ropsten.etherscan.io/address/0xc2e75b81d21831c3bf6a739c3b1495c33045d258) and the owner has been initialized to 0

[2018-11-07 20:05] nbanmp commented on #674
I'm also getting the same bug with other types of calls as well.
[code]

Output is:
[code]
The first transaction's calldata should have the address that is passed into the call, but it does not.

[2018-11-07 21:20] nbanmp commented on #674
I take that back, it's a completely different issue with the example I sent.

The issue in the original bug is that we do not support internal calls with a symbolic calldata offset. Sending a raw call with `msg.data` as the calldata data has a symbolic offset, the size is calldatasize, which, with a symbolic calldata, is symbolic.

[2018-11-08 01:56] b-mueller commented on #674
Interesting, yes, we should do that, since delegate call proxies are a common pattern.

[2018-11-08 02:16] b-mueller opened #675 "Add a special case for passing original calldata with symbolic length"
## Description

As described in #674, Mythril currently doesn't support the delegatecall proxy pattern where the original calldata is passed through. This is because we don't support calldata with a symbolic offset or length.

I suppose that we could add a special case for `offset = 0` and `length = calldatasize` where we provide the original calldata to the callee.

[2018-11-08 02:52] b-mueller opened #676 "AttributeError: 'bool' object has no attribute 'as_ast'"
## Description

Mythril fails with an `AttributeError` on the following contract:

[code]

## Environment

- Mythril version: develop
- Solidity compiler and version: 0.4.24+commit.e67f0147.Darwin.appleclang
- Python version:3.6.3
- OS and Version: Mac OS Mojave

[2018-11-08 10:21] JoranHonig opened #679 "Detection module interface and Symbolic Executor"
## Description
Currently detection modules are ran after analysis, they are modules that provide a function: `analyze(statespace)` that returns a list of issues.

These modules will be refactored to work based on callbacks, vs a post processing procedure.  Which will allow us to strictly limit mythrils analysis time.

### Details
#### Detection Module
There should be an interface/abstract class de

[2018-11-08 10:42] JoranHonig commented on #226
@FFengIll I'm very sorry, I totally missed your message, (my previous message seems to be posted in the wrong place). Thanks for sharing your idea! (unfortunately the `quick` part didn't really work out)
I agree with you that abstracting the bit vectors in general (not just elements on the stack) would help with defining such properties. This is actually currently in #677

[2018-11-08 15:42] #523 closed

[2018-11-08 16:22] tina1998612 commented on #597
I'm also facing the same problem.

[2018-11-09 03:22] b-mueller opened #680 "VMException on DELEGATECALL"
## Description

Symbolic analysis terminates quietly when running the on-chain example mentioned in the [wik](
https://github.com/ConsenSys/mythril-classic/wiki/Security-Analysis#analyzing-on-chain-contract). Debugging output shows that a `VMException` is caught when executing a `DELEGATECALL`.

## How to Reproduce

[code]

## Environment

- Mythril version: develop
- Solidity compiler and version

[2018-11-09 03:30] b-mueller opened #681 "Propertly handle symbolic execution failures (VMException)"
## Description

Mythril appears to terminate symbolic execution when a `VMException` is encountered, but there is no indication of an error unless `-v2` is added (or the user notices low coverage).

This behavior is shown with the Wiki example mentioned in #680.

[code]

## Expected behavior

If possible, resume symbolic execution from a valid earlier state if a `VMException` happens.

Otherwise,

[2018-11-09 03:57] norhh commented on #681
Usually VMException shouldn't be encountered unless there is something totally wrong with the code. So probably we might need to check whether there is something wrong with the code in the first place.(or we might be raising the VMException in the wrong place)

[2018-11-09 12:55] ConnorBlockchain commented on #597
Same issue

[2018-11-09 15:15] nbanmp commented on #675
We likely won't be able to handle it "correctly" with the current memory design. I forgot that calldata is copied to memory, then copied from memory to the new calldata. I'll see what I can do about getting a good special case.

[2018-11-09 16:06] #676 closed

[2018-11-09 19:36] rocky opened #682 "Change json issue field swc_id to swc-id"
## Description

https://diligence.atlassian.net/wiki/spaces/MYT/pages/12124203/Standard+Issue+Format+for+Communication+between+Maestro+and+Tools refers to a JSON field `swc-id` (note the dash). Mythril current reports back `swc_id`.

## Background

Client applications are better served when all of the JSON reports use the same fields. Although in the future Maestro will be responsible for regulari

[2018-11-10 12:07] norhh opened #684 "Support symbolic data for mload"
## Description
Currently the `mload` opcode wouldn't work properly if the `state.memory` has a symbol in the range `offset` to `offset+32`, that should be handled properly.

[2018-11-10 12:12] norhh opened #685 "Refactor: Memory to z3 array"
## Description
Currently the mload and mstore try to get concrete bytes from and to memory. This needs to be changed so it allows symbolic memory here.

Example:
[code]

Additionally currently memory is implemented as a python list of bytes. Refactoring the module as a z3 array will probably be more flexible for our requirements. Additionally by implementing a Memory class we can make the code ind

[2018-11-11 17:30] #597 closed

[2018-11-12 01:15] b-mueller opened #689 "Implement transfer of ETH between accounts"
## Description

Keeping track of account balances is a prerequisite for implementing more precise analysis. Specifically, without this feature it is impossible to analyze the flow of ETH between contracts over multiple transactions (e.g. can the sender withdraw more ETH than they paid in)?

Account balances are currently not updated when CALL-family instructions are executed. AFAIK the correct beh

[2018-11-12 03:31] b-mueller commented on #689
Note - labeling this as "high priority" because IMO this change is needed to make the ether_send module meaningful.

[2018-11-12 08:41] b-mueller commented on #689
Perhaps as a first step, if `call_` encounters an existing callee account without code, we could update balances and put `True` on the stack instead of raising `TransactionStartSignal`?

[2018-11-12 10:45] JoranHonig opened #690 "Logging refactor"
## Description
Also see #687

Two problems with the current logging have been identified. Firstly, loglevels can be inconsistent. Additionally it seems that the current logging solution will be confusing when analysis modules are executed concurrently.

### Requirements
* All uses of inconsistent log levels are identified and fixed
* The logging modules make use of named loggers

[2018-11-12 11:17] #563 closed

[2018-11-12 11:28] b-mueller opened #691 "Mythril fails to detect state change after external call"
## Description

False negatives on one of the [samples](https://github.com/SmartContractSecurity/SWC-registry/blob/master/test_cases/reentracy/modifier_reentrancy.sol) for [SWC-107](https://smartcontractsecurity.github.io/SWC-registry/docs/SWC-107).

Code:

[code]

## How to Reproduce

[code]
## Expected behavior

The addition in line 9 may be executed after calling the external function `supports

[2018-11-12 13:50] JoranHonig opened #692 "Disassembler runtime-code"
## Description
Currently the `-d` option only outputs the disassembly of the runtime bytecode for a contract.
When using the -c option, the input is automatically assumed to be creation bytecode.
`myth -d -c "0x6060"` therefore returns nothing.

With the addition of supporting both runtime code and creation code we need to add an adaption to support printing the disassembly of both runtime and cre

[2018-11-12 15:02] #682 closed

[2018-11-12 23:18] nbanmp opened #693 "Crash on when adding constraints for some contracts"
This was discovered in #674. When constraints are simplified, and with the call data constraints being added, we sometimes see `True` and `False`, so these should be handled separately.

[code]

[2018-11-13 14:08] JoranHonig commented on #680
Fixed with #694

[2018-11-13 14:08] #680 closed

[2018-11-13 15:04] #684 closed

[2018-11-13 15:11] JoranHonig commented on #564
Can we make this an optional check for now? So it only reports violations as warnings, but the pr is still allowed to be merged

[2018-11-13 15:17] JoranHonig commented on #220
Closing this because this is largely covered by the consensus tests, other aspects should dynamically be added in the future

[2018-11-13 15:17] #220 closed

[2018-11-13 15:18] JoranHonig commented on #640
Closing this because it indeed is a true negative

[2018-11-13 15:18] #640 closed

[2018-11-14 12:16] JoranHonig commented on #681
@b-mueller a VmException is an exception triggered in the virtual machine, and is as such "expected behaviour".  For example an out of gas exception.

In this case there was a bug in how stack underflows were detected. I do think that we can improve on the error reporting. Just saying there has been a VmException doesn't help much IMO

[2018-11-14 14:02] norhh commented on #607
@roynalnaruto I am closing this issue as this was recently fixed in another issue, If you still have an issue with mythril then feel free to open the issue(or comment requesting to open the issue).

[2018-11-14 14:02] #607 closed

[2018-11-15 04:10] b-mueller commented on #681
When I reported this Mythril stopped executing when the `VMException` was encountered - after a second or so it ended the execution trace in `-v2` and Mythril proceeded with security analysis even though coverage was only 50%.

Doesn't seem to happen anymore in v0.19.5 though.

[2018-11-15 04:10] #681 closed

[2018-11-15 06:04] b-mueller opened #701 "Strange concretization result"
## Description

Running the exceptions module on Leonardo Alt's [token example](https://github.com/leonardoalt/devcon_iv_smtchecker/blob/master/example_token.sol) produces a strange transaction sequence.

Here's the code:

[code]

Note that the assertion is violated within 1 tx after construction if the contract creator sends tokens to themselves (since `balanceFrom` and `balanceTo` are set before

[2018-11-15 11:55] #520 closed

[2018-11-16 10:49] cleanunicorn opened #705 "Loading code with `0x` prefix should work"
## Description

Accept `0x` prefix when specifying bytecode (with `-c` or `--code`)

## Background

Running does not find any issues
[code]

Removing `0x` finds vulnerabilities

[code]

## Tests

As a test the previous 2 cli calls can be used. Overflows should be found whether you add a `0x` prefix or not.

[2018-11-16 11:21] b-mueller opened #706 "Issue detected with Solidity code input but not in contract instance deployed on Ropsten"
## Description

Mythril Classic detects an Ether withdrawal issue when analyzing [TokenSale](https://capturetheether.com/challenges/math/token-sale/) from source but fails to detect the same issue in the deployed contract instance.

## How to Reproduce

**Solidity:**

[code]

**Ropsten:**

[code]

## Expected behavior

The same issue should be reported in both cases.

## Environment

<!-- This sec

[2018-11-16 13:02] b-mueller commented on #705
Apparently the failure to process bytecode with `0x` prefix also broke our API. Reclassifying this as "bug" and "critical".

[2018-11-16 18:13] norhh opened #710 "Mythril throws a Z3 error for a contract."
## How to Reproduce

[code]
## Environment
Please modify for your setup

- Mythril version: develop
- Solidity compiler and version: `0.4.25`
- Python version: `3.6.3`
- OS and Version:  Ubuntu

[2018-11-16 22:54] JoranHonig commented on #505
@shashank-srikant the problem seems to be resolved so I'm closing this issue. If it turns out that this was not the case, please reopen this!

[2018-11-16 22:54] #505 closed

[2018-11-17 03:55] b-mueller opened #714 ""-m / --modules" argument is ignored"
## Description

Mythril always runs all analysis modules even if specific modules are provided via `-m`.

## How to Reproduce

[code]

## Expected behavior

If the user provides a list of modules, Mythril should run the selected modules only.

## Environment

- Mythril version: develop
- Solidity compiler and version: 0.4.24+commit.e67f0147.Darwin.appleclang
- Python version: 3.6.4
- OS and Versio

[2018-11-17 12:13] #668 closed

[2018-11-17 16:40] b-mueller commented on #714
@dmuhs just realized that the "modules" parameter is now used as a blacklist of modules *not* to run. Why is that?

[2018-11-17 23:24] avocadochicken commented on #584
I am not sure which race condition you are refering to, but I can easily break my signature.json while running multiple mythril processes at the same time. The exception starts with this string: ""Invalid JSON in signatures file" ...

[2018-11-18 06:11] norhh commented on #584
Hi @avocadochicken ,That race condition was referring to the tests, can you mention like what version of mythril gave you that error?

[2018-11-18 10:38] avocadochicken commented on #584
Definitely v0.18.12 and maybe v0.18.11 .
I am running multiple mythril instances inside a python script (through a process pool).

[code]

Here a call to mythril raises a CriticalError with the mentioned string as reason.

But: You do not need to run a process pool. Just run the same python script multiple times at the same time and the failure will also occur. The only way to get mythril running

[2018-11-18 12:31] #203 closed

[2018-11-18 12:32] #679 closed

[2018-11-18 17:39] b-mueller opened #720 "Crashes due to corrupted signatures.json"
## Description

Under "stressful" conditions (executing `myth` multiple times, aborting with CTRL+c,...) Mythril encounters exceptions such as `JSONDecodeError`  errors and `ValueError` as the signature file breaks.

E.g.

[code]

Contents of signatures file:

[code]

## How to Reproduce

Running mythril against the same file multiple times will usually result in an error.

## Environment

- Mythr

[2018-11-18 17:53] b-mueller opened #721 "Mythril throws `AttributeError` if no signatures file exists"
## Description

Mythril crashes if `signature.json` doesn't exist (previously, Mythril would create `signatures.json` if it didn't exist yet).

## How to Reproduce

Remove ~/.mythril/signature.json and run myth:

[code]

## Expected behavior

Mythril should handle this situation gracefully.

## Environment

- Mythril version: develop
- Solidity compiler and version: 0.4.24+commit.e67f0147.Darwin.a

[2018-11-19 05:48] b-mueller commented on #720
Second error after running Mythril twice on [tokensale.sol](https://capturetheether.com/challenges/math/token-sale/):

[code]

[2018-11-19 06:12] b-mueller opened #725 "Incorrect integer arithmetic"
## Description

Mythril returns incorrect concrete call data for an Ether withdrawal issue caused by an integer overflow. Specifically, the numTokens value computed for overflowing the multiplication in [Tokensale](https://capturetheether.com/challenges/math/token-sale/) is 0x2000000000000000000000000000000000000000000000000000000000000000. Even though this works in Remix it doesn't overflow in a

[2018-11-19 06:25] b-mueller opened #726 "Incorrect concrete calldata generated for integer overflows"
## Description

While integer overflows are detected correctly, the concrete transactions shown in in `--verbose-report` do not reach the overflow states. E.g. [TokenSale](https://capturetheether.com/challenges/math/token-sale/):

[code]

Note that the calldata only shows function calls without arguments.

## Expected behavior

Calldata should include the correct values for `numTokens`.

## Enviro

[2018-11-19 09:31] b-mueller commented on #725
After fixing #726 I get this from the `integer` module:

[code]

I.e. numTokens = 0x1000000000000000000000000000000000000000000000000000000000000000 which is also wrong, even tough the MUL also returns 0 in Remix.

[2018-11-19 09:53] #726 closed

[2018-11-19 10:19] b-mueller commented on #725
OK, I did another test run on Ropsten and I was wrong: All the values Mythril produces are correct. In fact, there are many correct answers:

[code]

[2018-11-19 10:22] #725 closed

[2018-11-19 18:39] avocadochicken commented on #584
I just updated at the time of writing. I must admit, I had no single failure yet.

[2018-11-19 18:42] dmuhs commented on #720
Dealing with the JSON file has been quite a pain, especially maintaining consistency for concurrent access. Over the weekend I hacked up a smaller signature DB that uses SQLite. I'm currently brushing it up a little and see how I can integrate it with the points where the old DB is currently used. :+1:

[2018-11-20 05:04] b-mueller commented on #720
Yeah, the JSON file has always been a major pain 😢

[2018-11-20 13:24] b-mueller opened #733 "Mythril terminates with AttributeError"
## Description

Mythril crashes with an `AttributeError` exception on a certain byte code input.

## How to Reproduce

[code]

- Mythril version: v0.19.7
- Solidity compiler and version: 0.4.24+commit.e67f0147.Darwin.appleclang
- Python version: 3.6.4
- OS and Version: Mac OS Mojave

[2018-11-20 13:29] b-mueller opened #734 "Incomplete analysis on contact sample"
## Description

Mythril returns a false negative for a contract sample that contains an Ether withdrawal flaw. The reason appears to be that symbolic execution does not complete. With max-transaction-count set to 5, execution finishes very quickly achieves only 72.52% coverage.

Code:

[code]

## How to Reproduce

[code]

## Expected behavior

An Ether withdrawal issue should be reported in the fu

[2018-11-20 14:04] JoranHonig commented on #533
I'm going to take this over because @hzzang doesn't have time to work on this right now.

[2018-11-20 21:16] avocadochicken commented on #584
It broke again. Now the config.ini:
```configparser.DuplicateOptionError: While reading from '/home/user/.mythril/config.ini' [line  7]: option 'leveldb_dir' in section 'defaults' already exists```

[code]

The file is autogenerated and was deleted by myself beforehand. I was running 8 processes for approx. 40 hours before this caused the crash (v.0.19.6). And yes, this is caused by running multip

[2018-11-21 04:46] b-mueller opened #736 "Incorrect reporting of function names"
## Description

Function names are reported incorrectly for the [Ethernaut token smart contract](https://ethernaut.zeppelin.solutions/level/0x6545df87f57d21cb096a0bfcc53a70464d062512).

## How to Reproduce

[code]

## Environment

- Mythril version: develop
- Solidity compiler and version: 0.4.24+commit.e67f0147.Darwin.appleclang
- Python version: 3.6.4
- OS and Version: Mac OS Mojave

[2018-11-21 04:52] b-mueller commented on #736
I got this fixed by deleting `signatures.json`.

[2018-11-21 05:30] b-mueller opened #737 "Increase max_depth during constructor execution"
## Description

A low max-depth setting can result in no contract being created.

## Background

For some contracts such as BECToken the default max-depth is insufficient:

[code]

It works if `--max-depth` is set to 32, but this makes the main analysis run take very long.

I propose setting `max_depth` to a high fixed value (e.g. 64) for the contract creation transaction instead of using the user

[2018-11-21 05:46] b-mueller opened #738 "KeyError in get_transaction_sequence"
## Description

Mythril crashes with a `KeyError` exception when analyzing an instance of Parity WalletLibrary.

## How to Reproduce

[code]

## Environment

- Mythril version: v0.19.7
- Solidity compiler and version: 0.4.24+commit.e67f0147.Darwin.appleclang
- Python version: 3.6.4
- OS and Version: Mac OS Mojave

[2018-11-21 06:01] norhh commented on #733
I tried fixing it, but then it was hitting a revert, so can you send the source code of the constructor if you have it?As it might be helpful for figuring it out.

[2018-11-21 06:06] b-mueller commented on #733
Hey, this was reported by @s0b0lev [https://github.com/SmartContractSecurity/SWC-registry/blob/master/test_cases/reentracy/modifier_reentrancy.sol](https://github.com/SmartContractSecurity/SWC-registry/blob/master/test_cases/reentracy/modifier_reentrancy.sol). Doesn't happen if you analyze the source though.

[2018-11-21 06:14] s0b0lev commented on #733
Hi! This smart contract was used:
https://github.com/SmartContractSecurity/SWC-registry/blob/master/test_cases/reentracy/modifier_reentrancy.sol

I take source code from `bin-runtime` key https://github.com/SmartContractSecurity/SWC-registry/blob/master/test_cases/reentracy/modifier_reentrancy.json

I run all swc-registry test cases on mythril, and before the update, I receive reports as expected,

[2018-11-21 06:18] norhh commented on #733
wait! -c runs it as the creation code right?

[2018-11-21 06:57] norhh commented on #584
Oh! we didn't put any locks on the config.ini file :smile: yet, thanks for informing.

[2018-11-21 12:59] avocadochicken commented on #584
Could you link the patch here please when it is done? I want to fix it on my machines as well.

[2018-11-21 15:31] #706 closed

[2018-11-21 22:18] pippuris opened #740 "Check if attack scenario is probable"
## Description

It would be nice if reporter would check if caller_address is probable
Most of the time (always) its not, as bruteforcing for specific address is "impossible"

[2018-11-22 11:40] JoranHonig commented on #737
How about using `max(max_depth, 64)`. So the user can still add more if necessary

[2018-11-22 13:47] #548 closed

[2018-11-22 14:14] b-mueller commented on #737
Yeah, that sounds good.

[2018-11-22 14:15] b-mueller commented on #740
@pippuris can you provide an example where it is possible?

[2018-11-22 18:46] JoranHonig opened #741 "Refactor: Language module"
## Description
Right now we have a module `mythril.solidity`. A new module is needed called `mythril.lang` which should contain the before mentioned module.

This module should also contain a base abstract class BaseContract, which is inherited by SolidityContract.

### Requirements
- `mythril.solidity` is moved to `mythril.lang.solidity`
- BaseContract is implemented and Extended by Solidity

Bon

[2018-11-22 18:49] JoranHonig opened #742 "CustomModule directory"
## Description
Mythril already has a few built in detection modules, but ofcourse we could also run custom detection modules.

One option could be to auto import modules in ~/.mythril/

Todo:
- [ ] Define proposal what the best user experience would be for this
- [ ] Setup requirements

[2018-11-23 02:52] b-mueller opened #744 "Refactor test samples so they compile with solc 0.5.0"
## Description

[CircleCI tests are failing](https://circleci.com/gh/ConsenSys/mythril-classic/1750) since the latest major release of solc because some  input contracts fail to compile.

Refactor the samples for compatibility with solc 0.5.0.

[2018-11-23 03:27] b-mueller opened #745 "Refactor analysis modules to be as compact as possible"
## Description

Refactor analysis modules to be as readable and compact and as possible.

Those are just some suggestions, I'm sure you guys have better ideas ;)

Some ideas:

1. Move reusable stuff into the base module:

- Issue constructor -> create a based method that creates a new issue without having to provide all constructor parameters explicitly.
- Move Singleton base class to base.py
- (.

[2018-11-23 03:33] b-mueller commented on #701
I have a feeling that this will be solved with #689.

[2018-11-23 09:48] b-mueller commented on #737
I tried adding a hack in `symbolic.py`, didn't work (laser still returns 0 open states).

![screen shot 2018-11-23 at 16 47 51](https://user-images.githubusercontent.com/5194767/48937057-8e0d1400-ef3f-11e8-8d38-4c76a2f55c26.png)

It works with `--max-depth 64` on the cmdline though

[2018-11-23 09:55] JoranHonig commented on #745
`Issue constructor -> create a based method that creates a new issue without having to provide all constructor parameters explicitly.`

So basically we'd create some IssueFactory at the initialization of the module, instead of creating a new issue directly the factory builds it with a lot of fields already set ?

[2018-11-23 09:57] b-mueller commented on #745
Yep, the module author would only have to provide a text description and the rest could be gathered from the environment & metadata.

[2018-11-26 08:45] cleanunicorn commented on #736
This does not reproduce for me

[code]

## Environment

- Mythril version: develop (b1c2139742d56ff302e60508c416033248f9ab1e)
- Solidity compiler and version: 0.4.24+commit.e67f0147.Linux.g++
- Python version: 3.6.7
- OS and Version: Arch Linux

Maybe this was fixed in the meantime

@b-mueller does this still happen for you on the develop branch?

[2018-11-26 09:10] b-mueller commented on #736
@cleanunicorn I get a better result now with develop but the function names still contain `**ambiguos**`:

[code]

Using the default signatures.json from the repo.

I'm not sure that the ambiguous function name detection is useful... it's worth logging this to logging.debug but the reported function name should definitely not be changed.

[2018-11-26 14:34] #705 closed

[2018-11-26 23:12] #744 closed

[2018-11-26 23:12] JoranHonig commented on #744
@dmuhs This can be closed right?

[2018-11-27 00:37] birdofpreyru commented on #474
@JoranHonig I just forgot about it. However, I tried now to run it with the command similar to the one suggested at https://github.com/ConsenSys/mythril-classic/wiki/With-Docker:
[code]
and it seems to work for me. If you can confirm it works, probably, we can just close the issue?

[2018-11-27 11:32] JoranHonig commented on #736
If we are analyzing source code then maybe the signatures json should be ignored altogether, it can only result in negative consequences here.

[2018-11-27 12:51] JoranHonig commented on #533
I've looked into the following three options:

1. Roll our own abstraction layer
Possible, and it would allow us to build a solution that exactly fits our needs. But would take more time than the other two options

2. Extend pySMT
This is the approach that hzzang took. In the pr we see that a symbol manager can be used to store properties for each symbol. However, this doesn't allow us to taint or

[2018-11-27 14:08] JoranHonig opened #759 "Refactor: Calldata without arrays"
## Description
Currently our Calldata implementation uses arrays to facilitate symbolic reads of the calldata. However with the move to an abstraction layer vs directly using z3 we'll be losing that particular functionality.

This issue tracks the move from the current implementation, to one independent of arrays.

### Requirements
- Calldata doesn't use z3 arrays
- Calldata still supports symboli

[2018-11-28 08:41] dmuhs commented on #584
This will hopefully not be an issue anymore with #758 merged. :+1:

[2018-11-28 08:41] #584 closed

[2018-11-28 08:42] dmuhs commented on #720
#758 merged, major pain removed. Dr. Muhs signing off. :+1:

[2018-11-28 08:42] #720 closed

[2018-11-28 08:44] cleanunicorn commented on #736
Could #758 have an effect on how this behaves?

[2018-11-28 08:52] dmuhs commented on #736
@cleanunicorn It could have, but doesn't. I can still reproduce the issue. The core gist here is that we take the source, compile it and then deduct the function names from the byte code again, which results in ambiguities - especially now that we have a larger signature DB.

[2018-11-28 19:55] nbanmp opened #763 "Implement RETURNDATACOPY"
Laser does not implement the `returndatacopy` opcode.

Implement it.

[2018-11-28 22:15] norhh opened #765 "Copy the signatures.db from mythril root to the .mythril directory"
## Description
- Copy the signatures.db from mythril root to the .mythril directory if there is no `signatures.db` in `~/.mythril/`
- Make sure all the signatures used in the tests are present in the signatures.db

This might help to resolve various signature problems with tests(forever :v: ), and would also be helpful for the users.

[2018-11-29 10:16] #759 closed

[2018-11-29 15:10] cleanunicorn opened #769 "Source code reported incomplete"
## Description

Source code reported is incomplete

### Reported issue

Reported issue is not clear and doesn't display any operation that could cause integer overflow
[code]

Actual source code
[code]

## How to Reproduce

Consider this contract
[code]

[code]

## Expected behavior

Returns full source code line, just seeing a property without an operator doesn't make clear the possible integer o

[2018-11-29 17:28] mickayz opened #770 "Two transactions output when only one is needed"
## Description

Running Mythril Classic against some CTF challenge contracts.  This one is a hidden transaction that lets users steal ether.  Mythril Classic outputs two transactions.  The second one is the correct calldata, the first is gibberish.

## How to Reproduce

[code]

Target File:

https://gist.github.com/mickayz/4d58ed15edc60d301a4f60fe193e1212

## Expected behavior

There should only b

[2018-11-29 17:39] mickayz opened #771 "Latest Docker Image No Longer Respects --solv"
## Description

Latest Docker image running Mythril version v0.19.8 does not respect "--solv"

## How to Reproduce

Run the following:

[code]

## Environment

Latest Docker image - Mythril version v0.19.8

[2018-11-29 18:18] mickayz commented on #771
I think this is the offending commit:

https://github.com/ConsenSys/mythril-classic/commit/c4127fd229c40e145f4d2826571af81bede09d05#diff-45953b4ee9eebfcb91aedc01cb804a29

[2018-11-29 18:58] b-mueller opened #772 "Mythril v0.19.8 computes wrong input value for TokenSale challenge"
## Description

In the last [Medium post](https://hackernoon.com/practical-smart-contract-security-analysis-and-exploitation-part-1-6c2f2320b0c) I described how to solve [TokenSale](
https://capturetheether.com/challenges/math/token-sale/). Mythril v0.19.7 output the correct value for uint `numTokens` but v0.9.18 produces an incorrect value.

## How to Reproduce

[code]

Note the calldata:

0xd96a

[2018-11-29 22:04] b-mueller commented on #740
Hi @pippuris, in Mythril v0.9.18 assumes an *arbitrary* caller address when reporting issues. The attacker is represented as 0xdeadbeefdeadbead(...) which can be replaced by any address. See also [here](https://github.com/b-mueller/scrooge-mcetherface).

[2018-11-29 22:04] #740 closed

[2018-11-30 05:01] mickayz commented on #661
I'm having this same error on the current Docker image with the following contract:

https://gist.github.com/mickayz/a249f6465c1169cbb5c1558aaa7ce737

Mythril version v0.19.8

[2018-12-01 08:59] b-mueller commented on #772
For some reason, Mythril now doesn't detect the bug at all on my system with 0.19.8 Pypi, develop, and 0.19.8 with your patch applied. No idea why.

[code]

I must have messed something up...

[2018-12-01 11:44] b-mueller commented on #772
^^ Re-opened because see above. Can any of you confirm that `develop` detects the vuln on Tokensale?

[2018-12-01 11:50] b-mueller opened #776 "Select callback modules based on user-specified modules list"
## Description

Currently, callback modules always run irrespective of the modules selected by the user with the `--module` command line argument.

The expected behavior is as follows:

- If no module list is given run all callback modules;
- If a module list is provided run only the callback modules listed.

[2018-12-01 14:18] dmuhs commented on #772
I can reproduce that no issues were found (with the solc fix from #773)

[2018-12-02 03:39] b-mueller commented on #772
Marked as "high priority" because it's embarrassing if the example given in the article doesn't work 😊

[2018-12-02 07:38] norhh commented on #770
mythril executes 2 transactions by default, so first transaction here isn't needed. If you are sure that only 1 transaction might lead to the vulnerability then just use the flag  `--transaction-count 1` in that case mythril searches the vulnerabilities with just 1 transaction.

[2018-12-02 07:41] norhh commented on #772
@b-mueller @dmuhs , can you increase the solver timeout and recheck in that case.

[2018-12-02 08:17] b-mueller commented on #772
You're right, the solver takes *ages*... I have it running for 5 minutes now and still no result.

Any idea what could cause this? This looks like a pretty trivial problem to solve and the module didn't change significantly since 0.19.7...

[2018-12-02 08:33] b-mueller commented on #772
It seems like putting any constraints on the value of the attacker's transactions is what causes the slowdown. E.g. in *Ether Thief*:

[code]

If I remove those lines the check it runs very quickly.

However, practically the same was used in v0.19.7 and it didn't slow things down. So the root cause appears to be somewhere else?

[2018-12-03 13:02] norhh commented on #734
This might be because of the way the storage is handled currently.
in tx 1 to deposit:
consider `F()` to do all the address mapping.
`storage[F(caller1)] = msg.value`
in tx2 it will be
`require(storage[F(caller2)] > 0)` and here `F(caller2)` is considered as a different key in the map than `F(caller1)` so `storage[F(caller2)]` returns 0.

[2018-12-03 16:04] elopio commented on #661
Happens to me too, running from docker.

[2018-12-04 04:58] b-mueller opened #781 "Minimize number of transactions when concretizing"
## Description

Mythril reports redundant transactions to reach vulnerable states. See e.g. the smart contract mentioned in #770:

[code]

Running Mythril with default settings:

[code]

Note that the integer overflow issue indeed requires 2 transactions (that it is caught by a require after it happens is another issue).

However, the Ether withdrawal bug can be reached in 1 tx:

[code]

## Expect

[2018-12-04 05:06] b-mueller opened #782 "Don't report issues when transaction always reverts"
## Description

Currently, a number of false positives exist due to the fact that we may report conditions that always result in a revert. For example `SafeMath` uses a "Effects -> Check pattern" where state is reverted after an integer overflow occurs. An example of this can be for [here](https://gist.github.com/mickayz/4d58ed15edc60d301a4f60fe193e1212).

## Requested Feature

With the callback p

[2018-12-04 05:17] b-mueller opened #783 "Minimize call value when concretizing"
## Description

Mythril sometimes outputs high call values when concretizing transactions even though there's no obvious reason to use a non-zero value.

For example [Donations.sol](https://gist.github.com/mickayz/4d58ed15edc60d301a4f60fe193e1212):

[code]

Note that tx 1 (which is also [redundant](https://github.com/ConsenSys/mythril-classic/issues/781)) contains a very high value.

## Expected b

[2018-12-04 05:21] #770 closed, assigned to nobody

[2018-12-04 07:57] norhh commented on #661
@elopio , can you check if PR #779 fixes for your contract too?

[2018-12-04 08:50] norhh commented on #738
I think this was fixed by nathan in #651 (so the fix affects all versions > 0.19.5) , looking at your stacktrace it seems it was run with the version `0.19.0`, In that case can you recheck it with the latest `0.19.8` . It's taking forever running in my PC.

[2018-12-04 16:25] elopio commented on #661
I tried with that PR and it doesn't crash with type error. Instead it takes a long time and eventually crashes with AssertionError:
[code]

I can't share these contracts yet, but I think they will be public soon and then I can report a new issue.

Thanks!

[2018-12-05 07:03] #783 closed

[2018-12-05 09:49] cryptobarbossa commented on #692
#787

[2018-12-05 14:09] JoranHonig opened #789 "Refactor: Callback delegatecall.py"
## Description
The delegate call module `mythril/analysis/modules/delegatecall.py` should be refactored to work as a callback module.

An example refactored module is `mythril/analysis/modules/suicide.py`

child of #226

[2018-12-05 14:12] JoranHonig opened #790 "Refactor: Callback deprecated_ops.py"
## Description
The delegate call module `mythril/analysis/modules/deprecated_ops.py` should be refactored to work as a callback module.

An example refactored module is `mythril/analysis/modules/suicide.py`

child of #226

[2018-12-05 14:14] JoranHonig opened #791 "Refactor: Callback exceptions.py"
## Description
The delegate call module `mythril/analysis/modules/exceptions.py` should be refactored to work as a callback module.

An example refactored module is `mythril/analysis/modules/suicide.py`

child of #226

[2018-12-05 14:23] JoranHonig commented on #782
Is this a duplicate of https://github.com/ConsenSys/mythril-classic/issues/417 ?

[2018-12-05 14:24] JoranHonig commented on #782
I already have a neat idea of how to do this using state annotations :+1:

[2018-12-05 14:27] JoranHonig opened #793 "Refactor: Callback dependence_on_predictable_vars.py"
## Description
The delegate call module `mythril/analysis/modules/dependence_on_predictable_vars.py` should be refactored to work as a callback module.

An example refactored module is `mythril/analysis/modules/suicide.py`

child of #226

[2018-12-05 14:28] JoranHonig opened #794 "Refactor: Callback unchecked_retval.py"
## Description
The delegate call module `mythril/analysis/modules/unchecked_retval.py` should be refactored to work as a callback module.

This module is used to check a property that holds over a trace, therefore this one requires the use of a custom StateAnnotation

child of #226

[2018-12-05 14:30] JoranHonig opened #795 "Refactor: Callback multiple_sends.py"
## Description
The delegate call module `mythril/analysis/modules/multiple_sends.py` should be refactored to work as a callback module.

This module is used to check a property that holds over a trace, therefore this one requires the use of a custom StateAnnotation

child of #226

[2018-12-05 14:31] JoranHonig opened #796 "Refactor: Callback integer.py"
## Description
The delegate call module `mythril/analysis/modules/unchecked_retval.py` should be refactored to work as a callback module.

This module requires the use of expression annotations

blocked by #533
child of #226

[2018-12-05 14:40] b-mueller commented on #782
Yes, I"ll close that.

[2018-12-05 14:40] b-mueller commented on #782
Wow, I just saw that made an awesome diagram in #417!

[2018-12-05 14:43] b-mueller commented on #790
Wie can add a `CALLCODE` here:

https://smartcontractsecurity.github.io/SWC-registry/docs/SWC-111

[2018-12-05 18:41] #736 closed

[2018-12-05 18:41] #765 closed

[2018-12-05 19:31] norhh commented on #524
Removed the modifier for kill and now this should happen 1 in transaction but it wasn't being detected, But by increasing the depth to a large value it seems to detect because of how solc compiler currently gives out bytecode, The function's output is kindof sorted in the lexicographic order(or numeric i am not totally sure) of signatures.The way out I can think of is to segment out functions and

[2018-12-05 20:37] mickayz opened #798 "Allow setting msg.sender in command line"
## Description

Some contracts may have authorization such that only certain addresses are allowed to interact with the contract.  It would be cool if there was a CLI argument that set the value of msg.sender in Mythril Classic so that mythril could run analysis from the perspective of that user.

[2018-12-05 20:39] mickayz opened #799 "Allow CLI arguments for constructor creation"
## Description

A contract may have constructor arguments or may be payable, and this might affect the security conditions.  It would be nice to allow a user running Mythril Classic to include the parameters for the constructor as CLI arguments. (i.e arg1=address1,msg.value=1eth, etc)

[2018-12-06 10:11] #776 closed

[2018-12-06 13:07] #692 closed

[2018-12-06 15:21] norhh commented on #738
It seems to be fixed when I ran it in my PC(It took 20hrs), It can be closed right? @b-mueller

[2018-12-06 15:35] #539 closed

[2018-12-06 15:54] nbanmp opened #800 "Query GlobalState Annotations"
Create a method in classes with annotations (WorldState, GlobalState) `get_annotations(MySpecificModuleAnnotation: StateAnnotation) -> list` to query annotations.

[2018-12-06 15:56] #790 closed

[2018-12-06 16:38] b-mueller opened #801 "False positives for Fallback.sol and Fallout.sol"
## Description

There seems to be a regression in the Ether Thief module which now returns false positives for both Ethernaut samples.

[Fallback](https://ethernaut.zeppelin.solutions/level/0x234094aac85628444a82dae0396c680974260be7):

[code]

[Fallout](https://ethernaut.zeppelin.solutions/level/0x220beee334f1c1f8078352d88bcc4e6165b792f6):

[code]

## Expected behavior

Exploitation in 1 tx as sho

[2018-12-06 19:31] nbanmp commented on #674
https://github.com/ConsenSys/mythril-classic/pull/739 and #693 have been closed. Some good progress, but not good enough and they don't fix the issue.

[2018-12-07 15:10] norhh opened #804 "Z3 Exception raised on an onchain contract"
## How to Reproduce

[code]

## Environment

- Mythril version: latest develop
- Solidity compiler and version: `0.5.0`
- Python version: `3.6.3`
- OS and Version: Ubuntu 17.10

[2018-12-07 17:46] mihairaulea opened #805 "Building from Dockerfile"
## Description

Running `docker build` with commit 175225f6e59acbee63e276db6658054be0cbe200(current) fails with

Not really a python developer, but why do both

[code]

and inside setup.py(line 75)

[code]

## How to Reproduce

Clone git repo.
Run docker build.

## Expected behavior

I should be able to successfully build the docker image.

## Additional Environment or Context

Mac OS Mojave, late

[2018-12-07 17:57] norhh commented on #805
Hi @mihairaulea , thanks for the report, it seems recently latest version of eth-abi was released, So can you constrain the `eth-abi` to `1.1.1` at this moment in the setup.py and requirements.txt, as there was some other dependency issue with some other eth module with eth-typing(so can't move eth-typing to 2.0.0 without some extra checking). And yes the requirements.txt can be parsed in setup.py

[2018-12-08 09:07] norhh commented on #805
@mihairaulea oops missed your post, just added a PR, :man_facepalming:

[2018-12-08 20:45] #804 closed

[2018-12-08 23:44] nbanmp opened #808 "Improved Progress Reporting"
Improve progress reporting, including when mythril is being run on multiple contracts.

Some inspiration:
https://asciinema.org/a/DqhcbBggWNOgSvxq3fkYVE17I
https://asciinema.org/a/CY3Um5Ll0eK4bK7LL9ZxlSF3Y

Progress bars could perhaps be code coverage. We currently calculate and display it upon completion, but we can report this live, and the experience of using the tool will be much nicer.

Displ